.tableCreationWithCheckboxes {
  display: flex;
  flex-wrap: wrap;
  .checkboxesWrapper {
    .checkboxesWrapper--flex {
      height: 100%;
    }
  }

  .tableWrapper {
    table {
      margin-bottom: 0;
    }
  }
}

.d-nda {
  padding-bottom: 10px;
  > a {
    margin-bottom: 10px;
    display: inline-block;
  }
}

.upload-list.b-btm {
  margin-bottom: 0;
  li {
    &:nth-last-child(1) {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.form-group {
  &.mb-0 {
    margin-bottom: 0;
  }
  .error {
    display: block;
  }
}

// .bom-tree .tree ul li {
//   padding-left: 37px;
// }

.bom-tree ul {
  margin: 0px 0px 0px 25px;
  li {
    font-size: 12px !important;
    line-height: 28px;
    label {
      margin-left: 3px;
    }
  }
}

//  Geographical Tree

.globalRegion {
  width: 100%;
  overflow: hidden;
}

$group_topSpace: 33px;
$group_leftSpace: 25px;
$input_width: 125px;
$root_width: 120px;

%flex--noWrap {
  display: flex;
  flex-wrap: nowrap;
}

.geographical--tree {
  width: 100%;
  @extend %flex--noWrap;
  display: block;
  overflow: hidden;
  position: relative;
  padding: 25px 10px;

  .root {
    overflow: hidden;
    display: flex;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    &:last-child {
      border-bottom: 0;
    }
  }

  .sub-tree {
    padding-top: $group_topSpace;
    padding-left: $group_leftSpace;
    float: left;
    position: relative;
    &.subRegion {
      // background-color: yellow;
      padding-top: 0;
    }
    &.subRegion {
      &:nth-child(1) {
        // background-color: green;
        padding-top: $group_topSpace;
      }
    }

    .addMore{
      display: block;
      clear: both;
      padding-left: 33px;
      position: relative;
      top: -7px;
    }
    .geo-tree {
      margin-top: 0;
      width: $input_width;
      float: left;
      margin: 0;
      overflow: visible;
      position: relative;

      &:before,
      &::after {
        content: '';
        width: 2px;
        background-color: #000;
        height: 100%;
        position: absolute;
        left: -10px;
        /* top: -70%; */
        top: -15px;
      }
      &.for-region {
        // &:first-child {
        //   &:before {
        //     top: 1px;
        //   }
        // }
        &:before {
          left: -37px;
          top: -18px;
        }
        li {
          &::before {
            left: -35px !important;
            width: 39px !important;
          }
        }
      }

      &.for-area {
        &::after {
          display: none;
        }
        li {
          &::after {
            display: none;
          }
        }
      }
      &::before {
        left: -10px;
        top: -18px;
      }

      &::after {
        right: -17px;
        top: 15px;
        /* background: red; */
        left: auto;
      }
      li {
        padding-left: 5px;
        position: relative;

        &:not(:first-child) {
          //margin-top: 30px;
          margin-top: 15px;
          position: relative;
          .hide--branch {
            &::after {
              // content: '';
              // position: absolute;
              // width: 2px;
              // background: white;
              // height: 25px;
              // top: -27px;
              // bottom: 0;
              // margin: auto;
              // z-index: 10;
              // right: -17px;

              content: '';
              position: absolute;
              width: 2px;
              background: white;
              height: 9px;
              top: -13px;
              bottom: 0;
              margin: auto;
              z-index: 10;
              right: -17px;
            }
          }
        }

        &::before {
          left: -8px !important;
          top: 15px !important;
          width: 12px !important;
          height: 2px;
        }

        &::after {
          left: 0px;
          top: 13px !important;
          right: -17px !important;
          left: auto !important;
          height: 2px !important;
          width: 17px !important;
          background: black !important;
          border: 0 !important;
          bottom: auto !important;
          border-left: 0 !important;
          height: 2px !important;
        }

        &::before,
        &::after {
          content: '';
          width: 2px;
          background-color: red;
        }
      }
    }
  }
}

.globalRegion {
  display: flex;
  float: left;
  width: $root_width;
  min-width: $root_width;
  // background-color: red;
}

.f-table .f-tbody .td-f.text-right {
  position: absolute;
  top: 0;
  right: 0;
}

.f-table .f-tbody .td-f {
  padding: 0;
}

// .hide--branch:after {
//   content: "";
//   position: absolute;
//   width: 2px;
//   background: white;
//   height: 66px;
//   top: -70px;
//   bottom: 0;
//   margin: auto;
//   /* left: -10px; */
//   z-index: 10;
//   right: -17px;
// }
.bg-minus {
  margin-top: 3px;
  margin-left: 5px;
  color: $blue-primary !important;
  cursor: pointer;
  &:before {
    width: 18px !important;
    height: 18px !important;
    font-size: 10px !important;
    padding-top: 2px !important;
    color: $blue-primary !important;
    border: 1px solid $blue-primary !important;
  }
}
.info-msg {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: $primary-color;
}

.subRegion {
  &:not(:last-child) {
    &:before {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: #000;
      left: -12px;
    }
  }
}

.line-set {
  z-index: 9;
  position: relative;
}
