.userAdmin {
  width: 40%;
  margin: 0px auto 80px;

  .panel-heading {
    background-image: unset !important;
    background-color: #68777e !important;
    color: #fefefe !important;
    border-radius: 0px;
    text-transform: uppercase;
  }
  .panel {
    border-bottom: 1px solid #e3e3e3 !important;
    box-shadow: unset !important;
    background-color: #f3f3f3;
    color: #41535b;
    border-radius: 0px !important;
    border-left: unset !important;
    border-right: unset !important;
    border-top: unset !important;
  }
  .panel-body {
    padding: 0px;
  }
  .panel-title {
    a {
      font-size: 12px;
      font-weight: 500;
      text-decoration: none;
      display: block;
      padding-left: 45px;
      color:#fff;
        &:hover {
          color: #f1f1f1;
        }
    }
  }
  .panelListing {
    padding: 0px;
    li {
      list-style: none;
      padding: 15px 62px;
      font-size: 12px;
      font-weight: 500;
      cursor: pointer;
      a {
        color: #41535b !important;
        text-decoration: none;
      }
    }

    li:hover {
      background: #e3e3e3;
      border-right: 8px solid #007BFF;
    }
  }
  .panel-group .panel + .panel {
    margin-top: 0px !important;
  }
}

.greytxt {
  color: #41535b;
  font-size: 20px;
}

//  aditya 17/Jan/2019

.custom-dd.dropRf {
  .dropdown.btn-group,
  .dropdown-menu {
    width: 100%;
  }
}

.disabled {
  border-color: #e0e0e0;
}


// Geographical sec
.fontsize12 {
  button {
    font-size: 12px !important;
  }
}

.geographicalSec {
  .radio {
    &::before {
      top: 2px;
      left: 4px;
    }
  }
}

// Start: Build Plan Eco css

.bluidplanSec {
  margin: 0px;
  .th-item {
    border-right: 0px;
    border-top: 0px;
    flex: 1 !important;
  }
  .flex-table {
    border: 0px solid #ddd;
  }
  .flexbd {
    border-bottom: 1px solid #ddd;
  }
  .flex-body {
    width: 100%;
  }
  .bdbtmNone {
    .td-item {
      border-bottom: 0px !important;
    }
  }
  .td-item {
    //flex: 1 !important;
    height: auto !important;
    position: relative;
  }
  .flex155 {
    flex: 0 0 155px !important;
  }
  .l-root1 {
    position: relative;
    &::after {
      // position: absolute;
      // content: '';
      // display: block;
      // height: 1em;
      // border-bottom: 1px solid #555;
      // left: -80px;
      // top: -35px;
      // width: 28px;
    }
  }
  .root2 {
    position: relative;
    padding-top: 4px;
    display: inline-block;
    &::before {
      position: absolute;
      left: -36px;
      top: -49px;
      content: '';
      display: block;
      border-left: 1px solid #555;
      height: 4.6em;
      border-bottom: 1px solid #555;
      width: 32px;
    }
  }

  .flex-head {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding: 10px 0px;
  }
  .flex-table .flex-row:last-child .td-item {
    border-bottom: 0px !important;
  }
  .form-control {
    margin: 0px;
    box-shadow: unset;
    width: 100%; // change width due to show small width at 1920
    // margin: auto;
  }
  .form-group {
    margin-bottom: 0px;
  }
  .root1 {
    position: relative;
    &::before {
      position: absolute;
      left: -86px;
      top: -48px;
      content: '';
      display: block;
      border-left: 1px solid #555;
      height: 4.6em;
      border-bottom: 1px solid #555;
      width: 32px;
    }
  }
}

.flex-row.buildhalfborder {
  // position: relative;
}
.buildhalfborder:after {
  content: '';
  width: 90%;
  //border-bottom: 1px solid #ccc;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0px;
}

.smbuildtree .m-b-10 {
  position: relative;
}
.smbuildtree .m-b-10:not(:last-child):before {
  position: absolute;
  left: -15px;
  top: 12px;
  content: '';
  display: block;
  border-left: 1px solid #555;
  height: 130%;
  width: 14px;
}
.smbuildtree .m-b-10:not(:last-child):after {
  position: absolute;
  left: -15px;
  top: -1px;
  content: '';
  display: block;
  height: 1em;
  border-bottom: 1px solid #555;
  width: 30px;
}

.editIcon {
  width: 26px;
  height: 26px;
}
.ico-add.addblue {
  width: 19px;
  height: 19px;
  margin-top: -3px;
  svg {
    fill: $blue-primary;
  }
}
.ptitem {
  padding-top: 11px !important;
}
.resizenone {
  resize: none;
}
.datesm {
  font-size: 12px;
  font-weight: 400;
}
.ico-circlergt,
.ico-rejectrgt {
  width: 25px;
  height: 25px;
}
.ico-circlergt svg,
.ico-rejectrgt svg {
  fill: #000;
  width: 100%;
  height: 100%;
}
.projselect {
  .form-group {
    margin: 0px 10px;
  }
}

.contentleft {
  text-align: left !important;
}
.iconflex {
  margin-top: -10px;
}
// End: Build Plan Eco css

// Spending Cateogry

.structree {
  // border-bottom: 1px solid #ccc;
  .btn-task {
    width: 25px;
    height: 25px;
  }
  .blue-add{
    min-height: 20px;
    width: 80px;
  }
  .bordergreybtm {
    border-bottom: 1px solid #ccc;
  }
  ul {
    margin: 0px;
    list-style: none;
    line-height: 2em;
    position: relative;

    li {
      font-size: 12px;
      position: relative;
      font-weight: 500;
      margin-bottom: 5px;
      padding-left: 130px;
      // flex: 1 1;
      // display: flex;
      text-align: center;
      margin-bottom: -10px;
      .categoryWrapper {
        li {
          ul {
            li {
              &::before {
                position: absolute;
                left: 103px;
                top: -23px;
                content: '';
                display: block;
                border-left: 2px solid #555;
                height: 3em;
                border-bottom: 2px solid #555;
                width: 27px;
              }
              &::after {
                position: absolute;
                left: 103px;
                bottom: 8px;
                content: '';
                display: block;
                border-left: 2px solid #555;
                height: 100%;
              }
            }
          }
        }
      }
    }
    .strucroot {
      margin: 30px 0;
      font-size: 13px;
      padding-left: 5px !important;
      &::before {
        position: absolute;
        top: 30px;
        content: '';
        display: block;
        border-left: 2px solid #555;
        height: 1.8em;
        border-bottom: 2px solid #555;
        width: 115px;
        left: 60px;
      }
    }
  }
  .form-control {
    padding: 6px 8px;
    font-size: 12px;
    height: 30px;
    margin-bottom: 10px;
  }
  .blue-add .b-t-t {
    flex: 0 60px;
    margin-left: 0;
  }

  .addMore {
    position: absolute;
    margin-bottom: 0;
    bottom: -25px;
    width: 209px;
    height: 20px;
    &::before,
    &::after {
      display: none !important;
    }
    .ico-add {
      width: 12px;
      height: 12px;
      margin-top: -10px;
    }
  }
  .addmoretop {
    position: absolute !important;
    top: 32px;
    margin-bottom: 0 !important;
    height: 12px;
    width: 250px;
  }

  .addmorebtmup {
    bottom: 15px !important;
    width: 100px;
    overflow: hidden;
    cursor: pointer;
    height: 30px;
    .b-t-t {
      margin-left: -8px;
    }
  }
  .subsubcat {
    li {
      margin-bottom: 0px !important;
      &::before {
        top: -3px !important;
        height: 1.5em !important;
      }
      &::after {
        bottom: 23px !important;
      }
    }
  }
}
.treeadd {
  .strucroot {
    &::after {
      position: absolute;
      left: 60px;
      bottom: -125px;
      content: '';
      display: block;
      border-left: 2px solid #555;
      height: 76vh;
    }
  }
}
.spendingCatwrapper {
  max-width: 985px;
  margin: 10px auto;
 
  .f-tbody {
    border-bottom: unset;
  }
}
.productCostwrapper{
  max-width:1140px;
  margin: auto;

  .f-tbody {
    border-bottom: unset;
  }
 
}
.w125 {
  width: 125px;
}
.structree ul li .categoryWrapper li ul:after {
  position: absolute;
  top: -41px;
  content: '';
  display: block;
  height: 1.5em;
  border-bottom: 2px solid #555;
  width: 21px;
  left: 124px;
}
.flex110 {
  flex: 0 0 110px !important;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}
// .categorysubblock li:last-child:after {
//   display: none !important;
// }
.addlast {
  position: relative !important;
  bottom: 10px !important;
  cursor: pointer;
}

.linehidden::after {
  display: none !important;
}

.submidadd {
  position: absolute !important;
  bottom: 46px !important;
  width: 213px;
}
// All added in treestructure
.allstrucroot{
  .strucroot{
    &:before{
      display:none !important;
    }
  }

  .allcategorynode:before {
    position: absolute;
    top: -10px;
    content: '';
    display: block;
    border-left: 2px solid #555;
    height: 1.8em;
    border-bottom: 2px solid #555;
    width: 125px;
    left: -5px;
  }
  .allcategorynode{
    &::after {
      position: absolute;
      top: -10px;
      content: '';
      display: block;
      border-left: 2px solid #555;
      height: 100%;
      width: 124px;
      left: -5px;
    }
}

}






.bluidplanSec .flex-row .td-item:nth-child(2):before {
  position: absolute;
  left: -12px;
  top: 20px;
  content: '';
  display: block;
  border-left: 1px solid #555;
  height: 101%;
  border-bottom: 1px solid #555;
  width: 32px;
}

.bluidplanSec .flex-row:last-child .td-item:nth-child(2):before,
.smbuildtree .m-b-10:nth-last-child(2):before {
  display: none;
}

.bluidplanSec .intd-item {
  -ms-flex: 1 1 !important;
  flex: 1 1 !important;
  height: auto !important;
  position: relative;
  text-align: center;
  padding: 8px;
}
.bluidplanSec .inflexwrap .intd-item:nth-child(1):before {
  position: absolute;
  left: -4px;
  top: 20px;
  content: '';
  display: block;
  border-left: 1px solid #555;
  height: 100%;
  border-bottom: 1px solid #555;
  width: 12px;
}

.bluidplanSec .inflexwrap .intd-item:nth-child(1):after {
  position: absolute;
  left: -4px;
  top: 6px;
  content: '';
  display: block;
  height: 1em;
  border-bottom: 1px solid #555;
  width: 12px;
}

.bluidplanSec .inflexwrap:last-child .intd-item:nth-child(1):after,
.bluidplanSec .inflexwrap:last-child .intd-item:nth-child(1):before {
  display: none;
}
.addmoreloctaion {
  margin-left: 25px;
  margin-top: 6px;
  margin-bottom: 10px;
}
.ptitem {
  margin-left: -10px;
  margin-right: 10px;
  font-size: 11px;
}

.intd-item .w100 {
  width: 120px !important;
}
.bluidplanSec.b-p-warpper .td-item:not(:first-child) {
  border-bottom: unset !important;
}
.td-item.txtadd {
  text-align: left;
  margin-left: 17px;
}
.intd-item.posnone {
  position: unset !important;
}
.crossup {
  position: absolute;
  top: -13px;
  right: 26em;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  width: 20px;
  height: 24px;
  cursor: pointer;
}
.crossup1 {
  position: absolute;
  top: -13px;
  right: 13em;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  width: 20px;
  height: 24px;
  cursor: pointer;
}
.crossup2 {
  position: absolute;
  top: -13px;
  right: -3px;
  transition: 0.8s;
  width: 20px;
  height: 24px;
  cursor: pointer;
}

.form-group input {
  position: relative;
}
// .form-group.mb-0:hover .crossup, .form-group.mb-0:hover .crossup1, .form-group.mb-0:hover .crossup2{
// display: block;
// }

// .strucroot:after{
//   position: absolute;
//   left: 60px;
//   content: '';
//   display: block;
//   border-left: 2px solid #555;
//   height: 87%;
//   top: 45px;
// }
.categoryblock:before {
  position: absolute;
  top: -10px;
  content: '';
  display: block;
  border-left: 2px solid #555;
  height: 1.8em;
  border-bottom: 2px solid #555;
  width: 115px;
  left: 15px;
}

// .categoryblock:not(:nth-last-child(2)):after {
//   position: absolute;
//   top: -10px;
//   content: '';
//   display: block;
//   border-left: 2px solid #555;
//   height: 100%;
//   width: 124px;
//   left: 15px;
// }
.categoryblock{
  &::after {
    position: absolute;
    top: -10px;
    content: '';
    display: block;
    border-left: 2px solid #555;
    height: 100%;
    width: 124px;
    left: 15px;
  }
}


.spendaddnew {
  max-width: 65%;
  margin: 10px auto;
}

.searchautowrap {
  position: relative;
}

.searchautolist ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin:0px 3px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0px 0px 1px 0px #aaa;
}
.searchautolist ul li:not(:first-child) {
  border-top: 1px solid #ddd;
}
.searchautolist ul li {
  padding:8px 4px;
  text-decoration: none;
  font-size: 12px;
  color: #555;
  display: block;
  cursor: pointer;
  word-break: break-word;
  text-align: left;
}


.ico-in-2 {
  width: 335px;
  height: 20px;
}


.brdr{border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;}

  .brandtree .categoryblock::after {
    top: 0px;
  }
  .functionCatwrapper {
    max-width: 850px;
    margin: 10px auto;
}





// header

.profilewrap {
    margin-left: -10px;
}

.mutliLevelDrop{
z-index:1;
}
.submenus:hover>.innermenu {
  display: block;
}
.submenus {
  position: relative;
  display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-all;  
    .caret{
      transform: rotate(270deg);
    }
}
.innermenu {
  margin-top: 10px;
  margin-left: 0px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 100px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
}


// .submenus:after {
//   display: block;
//   content: " ";
//   float: right;
//   width: 0;
//   height: 0;
//   border-color: transparent;
//   border-style: solid;
//   border-width: 5px 0 5px 5px;
//   border-left-color: #ccc;
//   margin-top: 5px;
//   margin-right: 0px;
// }


.customdropdown{
 .multi-level {
    list-style: none;
    padding: 0px;
  }
  .dropdown-menu{
    overflow: unset;
    cursor: pointer;
    min-width: unset !important;
    max-height: unset !important;
    li{
      &:hover{
        background-color: unset;
      }
    }
  }

  .dropactive{
    background-color: #ececec;
    &:hover{
      background-color: #ececec !important;
    }
  }
  .dropbgwhite{
    background-color: #fff !important;
    border-color: #ccc !important;
    font-weight: 400;
    &:focus{
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    }
  }
}
.dropcustomscroll ul.dropdown-menu{
  height: 200px;
  overflow-y: scroll;
  right: 0 !important;
  margin-top: 10px;
}
.searchScroll  {
  height: 137px;
  overflow-y: auto;
}
.dropcustomscroll ul.dropdown-menu::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.dropcustomscroll ul.dropdown-menu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
.dropcustomscroll ul.dropdown-menu::-webkit-scrollbar-thumb {
  background:  grey; 
  border-radius: 10px;
}

/* Handle on hover */
.dropcustomscroll::-webkit-scrollbar-thumb:hover {
  background:  grey; 
}




.fullwidth{
  width:100%;
}



/*Dileep*/
.tree.o-dot .tree_label1:before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 50%;
  background-color: #555;
  left: 9px;
  top: 8px;
}

/* Start: Create Eco Css*/  

.th-f {
  display: flex;
  flex: 1;
  justify-content: center;
}
.boxt {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.boxt li {
  flex: 1;
}
.flexrow.flex {
  width: 100%;
  display: flex;
}
.inncat {
  flex: 0 0 90px;
  ul{
    list-style: none;
    padding: 0;
  }
li{
  padding: 3px 0px 4px;
}
}
.createFl{
  overflow-x:auto;
  padding: 0px 10px;
}
.ml-15{
  margin-left:-15px;
}
.mlr4{
  margin-left: 6px;
  margin-right: 6px;
}
/* End: Create Eco Css*/  


.ecotb.custom-table thead tr th, .ecotb.custom-table tbody tr td {
  padding-top: 3px;
  padding-bottom: 5px;
}

.autosuggestionWrap {
  position: relative;
  padding-left: 0px !important;
  padding-right: 0px !important;
  .searchautolist{
    z-index: 1;
    left: 0;
    right: 0;
  }
}


.list-style-none {
  list-style: none;
}
.buyad {
  min-width: 120px !important;
}
.limtb5{
  margin: 5px 0;
}
.comflex .td-item:not(:first-child) {
  border-bottom: unset !important;
}
.greenclr {
  color: #4cb050;
}
.yellowclr {
  color: #007BFF;
}
.greyclr {
  // color: #41535b;
  color: $mediumGray;
}
.orgclr{
  color: #ff690bcf;
}


// create budget

.radioFlex{
  padding: 5px 10px;
}

.budgetThcenter{
  th{
    text-align:center !important;
  }
}
.createBugetwrap {
  .labelwd {
    color: #415259;
    font-size: 11px;
    font-weight: 500;
    margin:5px 0px;
  }
    .dropbgwhite {
      border-color: transparent !important;
      -webkit-box-shadow: unset !important;
      box-shadow: unset !important;
      height: 20px;
      line-height: 15px;
      padding: 0;
  }
}

.commitpaysec {
  .text-right {
    margin-left: 0px !important;
    color:#cd2733 !important;
    font-weight: 500;
    font-size: 10px !important;
    width: 50px;
    max-width: 100%;
    min-width: 50px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.text-left{
 color:#3da2cf !important;
 font-weight: 500;
 font-size: 10px !important;
 width: 50px;
 max-width: 100%;
 min-width: 50px;
 overflow: hidden;
 -o-text-overflow: ellipsis;
 text-overflow: ellipsis;
 white-space: nowrap;
}
}

.limtb5{
  li{
    font-size: 11px;
    font-weight: 500;
  }
}


.inputh30 {
  height: 30px;
  width: 80px;
}
.clrblue{
  svg{
    fill:#3da2cf;
  }

}
.blIcon {
  width: 8px;
  height: 8px;
  margin-right: 3px;
  margin-top: -6px;
  cursor: pointer;
}
.display-none{
  display:none;
}
.blIconlft {
  width: 12px;
  height: 12px;
  cursor: pointer;
  text-align: center;
  margin-top: -5px;
}
.blIconlft svg {
  fill: #fff;
}
.dropbreakli{
  li{
    word-break: break-word;
    white-space: pre-wrap;
  }
}
// select{
//   word-break: break-all !important;
//   option{
//     word-break: break-all !important;
//   }
// }



.tooltipCustom {
  position: relative;
  // display: inline-block;
  // border-bottom: 1px dotted black;
}

.tooltipCustom .tooltiptext {
display: none;
background-color: #37464d;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px;
position: absolute;
z-index: 3;
top: -30px;
width: 216px;
left: -8px;
right: 0;
word-break: break-all;
font-size: 10px;
}

.tooltipCustom:hover .tooltiptext {
display:block;
}
.tooltipCustom .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #37464d transparent transparent transparent;
}

.bugettbfl{
  .tb-main{
    margin-bottom:4px;
    .tb-value{
      font-size: 11px;
      margin-top: 0;
      padding-left: 4px;
    }
  }
}

.toolwrap {
  position: absolute;
}


// Start: Create Eco

.createTree {
  .ex-titel {
    font-size: 11px;
    margin-bottom: 35px;
    margin-top: 25px;
  }
  .tree.o-dot {
    margin-right: 10px;
  }
  .tree {
    ul{
      .firsttreeHide{
        &:before{
          display:none !important;
         }
         &:after{
          display:none  !important;
         }
         label{
          &:before{
            background-color: #555 !important;
          }
          
          }
         }
      .firsttreeShow{
        margin-bottom: 8px;
        &:before{
          display:block !important;
         }
         &:after{
          display:block !important;
         }
      }
       .firsttreeShow:last-child{
        &:after{
          display:none !important;
         }
       }
      .treeinn{
        margin-bottom: 8px;
        &:before{
          height: 3em !important;
          top: -25px !important;
        }
        ul{
          li{
            margin-bottom: 15px;
            margin-top: 10px;
            &:before{
              height: 2em !important;
              top: -12px !important;
            }
          }
        }
        label{
          margin-top: 0px;
          white-space: nowrap;
        }
      }
    } 
  }
}

.partSearchwrapper {
  background-color: #f3f3f3;
  padding: 12px;

    h4{
      color:#41535b;
      font-size: 16px;
    }

      .form-control{
        border: initial;
        border-radius: 0;
        &{
          border-color: initial;
          -webkit-box-shadow: initial;
          box-shadow: initial;
          height: 30px;
        }
      }
      .ico-search{
        margin-right:10px;
      }
  
  label {
    color: $text-color;
    font-size: $xSmall;
}
}
.searchForm {
  position: relative !important;
}
.searchautolist {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  right: 0;
}
.searchautolist-tag {
  width: 92%;
  z-index: 1;
  left: 11px;
  top: 33px;
}
.ecotext {
  font-weight: 500;
  color: #41535b;
  margin-bottom: 0px;
  font-size: 17px;
}
// End: Create Eco

.instructionList {
  text-align: center;
  padding-right: 25px;
  word-break: break-word;
  overflow-y: auto;
  width: 165px;
  height: 22px;
  .form-control {
    height: 20px;
    margin-bottom: 5px;
}
}


.createlgTb {
 
  tbody{
    tr{
      border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    }
  }
  th{
    padding: 0px 3px !important;
    line-height: 11px !important;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-left: none !important;
    border-right: none !important;
  }
  td{
    padding:0px 5px !important;
    line-height: 2px;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-left: none !important;
    border-right: none !important;
  }
  .sm-p-img{
    height:15px;
  }
  .pdth{
    th{
      padding:5px 2px !important
    }

  }
}
.createsmTb{
  tbody{
    tr{
      border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    }
  }
  td{
    padding:0px 5px !important;
    line-height: 13px !important;
    height: 37px;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-left: none !important;
    border-right: none !important;
  }
  th {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 65px !important;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-left: none !important;
    border-right: none !important;
  } 
}


.tbcreateWrap{
  .form-control {
    height: 28px;
    margin: 4px 0px;
    border: 0px !important;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    &:focus{
      border-color: none;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    } 
  }
  .react-datepicker-wrapper {
    input{
      height: 28px;
      margin: 4px 0px;
      border: 0px !important;
    }
  }
}



.tableCreationWithCheckboxes.tableScroll {
  flex-wrap: nowrap;
  overflow-y: auto;
  padding-bottom: 10px;
}

.sidearrow {
  position: absolute;
  top: 0;
  right: 0px;
  background-color: #3da2cf;
  width: 20px;
  height: 20px;
  text-align: center;
}
.createMainTb{
  position: relative;
}
.txtview {
  margin: 0px;
  word-break: break-word;
}
.viewEdit{
  .ico-action {
    width: 16px;
    height: 16px;
    margin-top: -5px;
    cursor: pointer;
  }
}
.createDrop{
  ul{
    list-style: none;
    padding:0px 8px;
    font-size: 12px;
  }
  .dropdown-menu{
    max-height: 100px !important;
    overflow-y: auto;
    margin:0px;
    }
  .it_c_in {
    width: 120px !important;
    input {
      height: 35px !important;
      width: 120px !important;
    }
    span {
      font-size: 15px !important;
      top: 10px !important;
    }
  }
}



.dropactiveTitle > span{
  // color: #7f7e7e;
  color:#b3b3b3 !important;
}

.createDrop {
  ul.poperList {
    span.costTitle {
      color: #333;
    }
  }
}

.spendcatTxt {
  li{
    margin-bottom:5px;
    word-break: break-word;
  }
}
.boxShnone{
  box-shadow:none;
}
.border-none{
  border:none;
}
.border-bottom{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding:20px 0px;
}

.h-28{
  height:28px
}

.cursor-disabled{
  cursor: not-allowed;
}

.arrowNext {
  width: 12px;
  height: 12px;
  margin-left: 2px;
}



.tbcreateWrap::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $mediumGray!important; }

.tbcreateWrap::-moz-placeholder {
  /* Firefox 19+ */
  color: $mediumGray !important; }

.tbcreateWrap:-ms-input-placeholder {
  /* IE 10+ */
  color: $mediumGray !important; }

.tbcreateWrap:-moz-placeholder {
  /* Firefox 18- */
  color: $mediumGray !important; }



 .rdintxtWrap {
  label {
    display: block;
     padding: 0px 5px 5px; 
     position: relative;
      padding-left: 20px;

      input {
        display: none !important;}
       }
       span { 
         border: 1px solid #41535b;
         color: #111;
         border-radius: 50%;
         width: 17px;
         height: 17px;
         position: absolute;
         overflow: hidden;
         line-height: 1;
         text-align: center;
         font-size: 9px;
         padding: 4px;
         left: 0;
         font-weight: 600;
         top: 50%;
         margin-top: -7.5px;
         }
  }

  .rdintxtWrap input:checked + span {
    background: #41535b;
    border-color: #41535b; 
    color:#fff;
  }




  .inputbdNone{
    .form-control {
      border: 0px !important;
      -webkit-box-shadow: unset;
      box-shadow: unset;
      padding: 5px 0px;
      text-align: center;
      &:focus{
        border-color: none;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      } 
    }
    .react-datepicker__input-container input{
      border: 0px !important;
      width: 100px;
      padding: 6px !important;
    }
  }

  .borderbox{
    tbody{
      tr{
        border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      }
    }
    th{
      border-top: 1px solid #ccc !important;
      border-bottom: 1px solid #ccc !important;
      border-left: none !important;
      border-right: none !important;
      min-width:100px;
    }
    td{
      border-top: 1px solid #ccc !important;
      border-bottom: 1px solid #ccc !important;
      border-left: none !important;
      border-right: none !important;
      min-width:100px;
    }
    .checkbox{
      margin:auto !important;
      &:hover {
        &:after {
          content: "";
          position: absolute;
          width: 19px;
          height: 19px;
          top: -3px;
          left: -3px;
          z-index: -1;
          box-shadow: 0px 0px 1px 3px #59b8d669;
          border-radius: 50%;
          background: #59b8d669;
        }
      }
    }
  }



  .commitpaysec {
    padding: 5px 0px 0px !important;
    .labelwd{
      width: 100%;
      padding: 0px 10px;
    } 
    .comflex {
      margin: 0px;
      padding: 2px;
      border-top: 1px solid #ccc;
      width:100%;
      // height:65px; height is too much
      height: auto;
  }
}
.border-right {
  border-right: 1px solid #ccc;
}
.inputh20{
  height:22px;
}
.border-top{
  border-top: 1px solid #ccc;
}

.border-rightaf{
  &:after {
    content: "";
    height: 30px;
    display: block;
    border-right: 1px solid #ccc;
  }
}
 .inputbdNone {
  .s-arrow {
    background-size: 9px 8px;
    background-position: right 3px bottom 5px;
    padding-right: 18px;
  }
  select.form-control{
    color:#737b7e;
    height: 20px;
    padding: 0px 20px 0 10px;
  }
 
 }
 .dropdownEllipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 170px;
  display: block;
 }

 .geographicalwrapper{
  .structree{
    ul{
      padding: 0px 13px;

      .strucroot  {
        &:before{
          width: 89px;
        }
      }

      .categoryWrapper{
        li{
          ul{
            &:after{
              left: 100px;
              width: 18px;
              top: -21px;
            }
            li{
              &:before{
                top: -3px;
                height: 1.5em;
                width: 17px;
              }
              &:after {
                bottom: 3px;
              }
            }
          }
        }

      }
      li{
        padding-left: 120px;
        padding-bottom: 10px;
        
      }
    }
  }
  .form-control{
    width:100px;
    margin-bottom: -10px;
    font-weight: 400;
  }

  .allgeonode{
    &:before{
      position: absolute;
      top: -10px;
      content: '';
      display: block;
      border-left: 2px solid #555;
      height: 1.8em;
      border-bottom: 2px solid #555;
      width: 90px;
      left: 30px;
    }
    &:after {
      position: absolute;
      top: -10px;
      content: '';
      display: block;
      border-left: 2px solid #555;
      height: 100%;
      width: 113px;
      left: 30px;
  }
  }

 }

  .listlastNode {
    padding-bottom: 34px !important;
 }
 .geographicalwrapper .categoryblock:after {
  left: 42px;
  top: -4px;
  width:auto !important;
}

.catin {
  position: relative;
    .cat-dd{
      position: absolute;
      top: 0;
      width: 100px;

      .dropdown{
        float: right;
        .dropdown-menu {
             position: relative;
             padding:0px !important;
          &:after{
            display: none;
          }
       }
      }
  }
}


.recordbd {
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
  margin-top: -20px;
  padding: 15px 0px;
}

.inputCrossIcon{
  position: relative;
  width: 105px;
    .crossupBtn {
      position: absolute;
      top: -15px;
      right: 0px;
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      transition: 0.8s;
      cursor: pointer;
      z-index: 3;
  }
}

.createActionpop {
  display: flex;
  .popCreate {
    margin-top: 5px;
    .dropdown{
      right:unset;
    }
    .dropdown-menu{
      margin-bottom: 10px;
      bottom: 100%;
      top: auto;
      &::before{
        top: auto;
       bottom: -5px;
      }
      .btnWrap {
        p{
          font-size: 13px;
          color:#111;
          text-align: left;
          margin: 0 8px;
          cursor: pointer;
        }     
     }
    }
 }
}





.labelGrey {
  color: #41535b;
  font-weight: 500;
  font-size: 13px;
}
.smheading{
  color: #41535b;
  font-size: 17px;
}



.searchScroll::-webkit-scrollbar, .createDrop ul::-webkit-scrollbar {
  width: 7px;
  height:7px;
}

/* Track */
.searchScroll::-webkit-scrollbar-track, .createDrop ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
.searchScroll::-webkit-scrollbar-thumb, .createDrop ul::-webkit-scrollbar-thumb, 
.notification_scroll::-webkit-scrollbar-thumb {
  background:  grey; 
  border-radius: 10px;
}
/* Handle on hover */
.searchScroll::-webkit-scrollbar-thumb:hover, .createDrop ul::-webkit-scrollbar-thumb:hover,
.notification_scroll::-webkit-scrollbar-thumb:hover {
  background:  grey; 
}


.reviewdesTab{
  overflow-y:scroll;
  ul{
    padding: 0px 5px;
    &::before{
      content: "•";
      color: grey;
      margin: 0 10px;
      font-size: 22px;
    }
    li{
    display:flex;
    align-items: center;
    white-space: nowrap;
    padding: 10px 0px 8px;  
    }
  }
}

.inputeditcenter{
  .form-control{
    text-align: center;
  }
}


.tbList  {
  margin-bottom: 25px;
  font-size: $xSmall !important;
}
  .tbhead {
    width: 150px;
   }
   .tbtit {
    word-break: break-all;
    text-transform: capitalize;
}




// GeoGraphical

.geographicalwrapper{
  .structree{
    .addmoretop{
      width: 80px;
     
    }
  } 
}

.tabsCustom{
  .nav-tabs{
    li{
      a{
        font-size: 12px;
        font-weight: 600;
        margin-right: 0;
        border-radius: 0;
        color: #333;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left:0px;

        &:hover, &:focus {
          background-color:transparent !important;
          border-color: transparent;
        }
      }
      &.active, &.hover, &.focus {
        a {
          border: 3px solid #41535b;
          background-color:transparent;
          border-top: unset;
          border-left: unset;
          border-right: unset;
        }
      }
    }
  }
}
.smTitle{
  color:#41535b;
  font-size: 16px;
}

.bg-grey {
  background-color: #f3f6f7;
    border: 1px solid #f3f6f7;
    box-shadow: none;

}
.smsubtit{
font-size:13px;
font-weight:500;
}
.filterPd {
  padding: 0px 60px;
}
.formbdr {
  background-color: #fff;
  display: flex;
  align-items: center;
}
.searchcustom{
  .form-control{
    border: unset;
    border-radius: 0;
    border-color: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
  }
}
.borderfull{
  border:1px solid #ccc;
}

.userTbscroll{
  .f-tbody{
    overflow-x:auto;
  }
}

.borderboxbtm  {
  tr{
    border-bottom: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
  }

}
.borderfullntbtm{
  border-top:1px solid #ddd;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
}
.rightAccnoWrap {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    max-height: 300px;
    overflow-y: auto;

    .labelGrey{
      border-bottom: 1px solid #ddd;
      padding: 5px 0 10px;
    }

  // .label--checkbox {
  //   line-height: 20px;
  //   color: #41535b;
  //   display: flex;
  //   align-items: center;
  // }
  .checkboxlist  {
    padding: 0px 5px;
    &.active{
      .highlightBlue{
        background-color: #c0e0ec;
        padding: 0px 3px;
      }
    }
  }

}
.rightheight{
  max-height: 300px;
  overflow-y: auto;
   border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.bgGrey{
  background-color: #f3f3f3;
}
.termsCondbox {
  margin: 10px 0px;
  width:85%;
  .clrdarkgrey{
    font-weight: 500;
  }
}

.termsInnerwrap {
  .labelGrey{
    font-size:16px;
  }
}
.padfilter{
  padding:20px 30px;
  .customdropdown{
    justify-content: space-between;
  }
 .createDrop{
  display: flex;
  flex-direction: column;
 }
  .dropbgwhite{
    margin-right: 5px;
    height:34px;
  }
  .popper-dd{
    width: 200px;
    background-position: right 3px bottom 10px;
  }
}
.dropFil{
   padding:5px 30px 15px;
  .tooltipCustom{
    width:200px;
    margin-right:15px;
    .dropdown{
       z-index:1;
      .dropbgwhite{
        height:32px;
      }   
    }
  }
}
.tbHeightfix{
 max-height:300px;
  overflow-y: auto;
}

.radioInnerlist{
  margin-bottom: 5px;
}
.taxesWrap{
  padding:15px 40px;
}
.namelist {
  font-size: 12px;
  text-transform: capitalize;
  margin-top: 5px;
  word-break:break-all;
}
.apprott-sm {
  font-size: 10px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 5px;
  margin-bottom: 0;
}
.commentBox{
  margin-bottom: 5px;
}
.thHeight5{
  th{
    padding-top:5px !important;
    padding-bottom:5px !important;
  }
}

.clauseSec{
  .form-control{
    height:auto;
    background-color: #fff;
  }
}
.labelGrey .active {
  color: #191818;
  }



 
  .isDisableSearchPart  {
     color: gray
    }


    .popupsm{
      .dotsIcon{
        transform: rotate(270deg);
        border: 1px solid #41535b;
        padding: 5px;
        border-radius: 20px;
      }
      .popCreate {
        margin-left:-11px;
        margin-top:-10px;
        position: relative;
          .dropdown {
          position: absolute;
          .btn-default{
            background-color: transparent;
            border-color: transparent;
            -webkit-box-shadow: none;
             box-shadow: none;
          }
          }
        .dropdown-menu {
          left: auto;
          border-radius: 0;
          background-color: #fff;
          color: #fff;
          border:1px solid #ccc;
          min-width: 115px;
          bottom: auto;
          right: 100%;
          margin-right: 6px;
          margin-top: -28px !important;
          padding: 0;
           &::before {
            content: "";
            width: 10px;
            height: 10px;
            background-color: #fff;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            position: absolute;
            top: 10px;
            right: -5px;
            -webkit-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
            z-index: -1;
        }
        &::after{
          display:none;
        }
        .btnWrap{
          button{
              color:#111;
              cursor: pointer;
              width: auto;
              height: 25px;
              margin: 0;
              font-size: 13px;
              display: block;
              font-weight:500;
            }
        }
      }
      }
    }

.poplbgrey{
  .control-label {
      color: #525252;
      font-size: 12px;
  }
}


.tbScrollh500 {
  height: 500px;
  overflow-y: auto;
  display: block;
}

.addSuppDetail  {
  .form-control{
    height: 25px;
  }
}



.switch {
  position: relative;
  display: inline-block;
  width: 175px;
  height: 37px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e9e9e9;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  left: 0;
  bottom: 1px;
  background-color: #2ca7d5;
  -webkit-transition: .4s;
  transition: .4s;

}

.switch input:checked + .slider {
  background-color: #e9e9e9;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2ca7d5;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(145px);
  -ms-transform: translateX(145px);
  transform: translateX(145px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'Single Purchase Requisition ';
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
 color: #41535b;
 width: 100px;
 text-align: center;
 line-height: 11px;
}

.switch input:checked + .slider:after
{  
  content:'Multiple Purchase Requisition ';
}

/*--------- END --------*/



.suppdetail{
    padding: 0;
    li{
      display:flex;
      align-items: center;
    }
  span{
    word-break: break-all;
  }
  h5 {
    font-size: 12px;
    margin-right: 5px;
  }
} 

.printBuySupp{
  .company-info{
    table{
      tr {
        td{
          word-wrap: break-word;
          white-space: normal;
          width:250px;
        }
      }
    } 
  }
}
.address-input{
  .form-control-feedback{
    top: -5px;
    right: -5px;
    font-size: 10px;
  }
}

.addressBar{
  .error{
    padding-top: initial;
    position: relative;
    top: -13px;
  }
}




.dropnoborder{
  border-color: transparent !important;
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
  height: 20px;
  line-height: 15px;
  padding: 0;
  background-color: transparent !important;
  color: #41535b !important;
  &:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    color: #41535b !important;
  }
}


.dropdownnobdwrap {
  ul{
    width: 170px !important;
    left: -65px !important;
    li{
      display: flex;
      align-items: center;
      input{
        margin-right: 2px !important;
      }
      label{
        word-break: break-word;
        white-space: normal !important;
      }
    }
  }
}
.dropbgtransparent {
  background-color: transparent;
}

.contractApproval{
  .overflowXAuto {
    min-height: 150px;
 }
}

button[disabled], html input[disabled] {
  cursor: not-allowed !important;
  }
  .customDisable {
    cursor: not-allowed !important;
    opacity: 0.7 !important;
    input[type="checkbox"] + .mark::after{
      cursor: not-allowed;
    }
    .slider1{
      cursor: not-allowed !important; 
    }
}
.eco-form{
  .react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100%;
  }
}

.noaddbdr.address-input  {
  .geosuggest__input-wrapper {
    &:after{
      background-color: transparent; 
    }
  }
  input {
    padding-right: 0px !important;
  }
  // .geosuggest__suggests-wrapper{
  //   ul{
  //     max-height:137px;
  //     overflow-y:auto; 
  //   }
  // }
}

.noaddbdr .geosuggest__suggests-wrapper ul::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.noaddbdr .geosuggest__suggests-wrapper ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
.noaddbdr .geosuggest__suggests-wrapper ul::-webkit-scrollbar-thumb {
  background:  grey; 
  border-radius: 10px;
}

/* Handle on hover */
.noaddbdr .geosuggest__suggests-wrapper ul::-webkit-scrollbar-thumb:hover {
  background:  grey; 
}


.viewbggreyInput{
     height: 35px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxGrey {
  background-color: #f3f3f3;
  padding: 25px;
}
.clrdarkgrey{
color:#41535b;
}


// .searchForm .form-control:focus {
//   border: 1px solid #75b7eb !important;
//   outline: 0 !important;
//   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
//   box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.075), 0 0 2px rgba(102, 175, 233, 0.6);
// }

.purchaseList{
  li{
     a {
      text-transform: uppercase;
    }
  }
}

// .boxlightGrey{
//   background-color:#f2f6f7;

// }

.suppbuyerBlock{
  .tb-main {margin-bottom: 15px;}
  .tb-title{flex: 0 0 100px;}
  .tb-value {
    font-size:12px;padding-left: 4px !important;flex: auto !important; width: 100px !important;
    .ant-select.w-100 {width:130px !important;}
  }
  .gst_top {
    width:155px;margin-top:10px;
    .ant-select {width:100% !important;}
  }
  .ant-select {width:140px !important;}
  .mr-10.custom_fullwidth {width:100% !important;}
  
  .form-control{
    font-size: 12px;height: auto;
    text-align:left;color:#333;
  }
  .align-center{align-items: flex-start;}
.inputbdNone{position: relative;}
}

.suppbuyerBlock .col-md-3:nth-child(odd) {
  background-color: #f2f6f7;
  padding: 28px 10px;
  margin-left: 14px;
  .fullwidth{
    flex: 1;
  }
  .tb-main {
    .tb-value{
      width: auto;
    flex: 0 0 105px;
    }
  }
}
.suppbuyerBlock .col-md-3 {
  display: flex;
}
.suppbuyerBlock {
  display: flex;
}
.eyeright {
  left: inherit !important;
}

.checklisttext{
    .checkbox::before{
      left: 4px;
      top: 4px;
      width: 0.70rem;
      height: 0.35rem;
    }
    
    .checkbox::after{
      top: -0.2rem;
      left: 0px;
      width: 1.50rem;
      height: 1.55rem;
      border-radius: 5px;
    }
    .checkbox{
      top: -1px;
      margin: 0px !important;
    }
    label{
      font-size: 12px !important;
      margin-left: 10px !important;
      font-weight: 500 !important;
    }
}


.rightGreen{
  color: #3c763d;
}
.mbnoInput  {
  .form-control{
    padding: 0px;
  }
}


.selectOverflow{
  overflow: hidden;
  white-space: initial;
  line-height: 15px !important;
  height: auto !important;
  word-break: break-word !important;
  background-position: right 3px center !important;
  padding-right: 15px !important;
}

.uploadedDoc {
  width: 220px;
  height: 220px;
  margin: 5px auto;
}
.searchbrIcon{
  background-color: #f3f3f3;
  .form-control{
      border:0px;
      box-shadow:none;
      background-color: #f3f3f3;
  }
}

.userDrop {
  .createDrop {
    margin-bottom: 10px;
  }
  .dropbgwhite{
    height: 30px;
  }
}

.text-ellipse{
  text-overflow: ellipsis;
}



// @-moz-document url-prefix() {
//   .comflex {
//     height:58px !important;
//   }
// }


.firstCapital::first-letter{
  text-transform: capitalize;
}
.radioRgtwrap{
  h5{
    font-size:12px;
    font-weight:500;
  }
}

.redbdrAlert{
  border: 1px solid #e51616;
}


.inputNoborder {
  border: initial !important;
  border-color: transparent;
    -webkit-box-shadow: initial;
    box-shadow: initial;
}


.whiteReadbg{
  .whiteReadbg .form-control {
    background-color: #fff;
}
}

.inptxt{
  font-size:12px;
  font-weight:500;
}


.mbgp {
  input {
    border-bottom: 0px !important;
  }
   .form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
 }
 .rrui__select__button {
  margin-left: 20px;
 }
}

.div-in-box1{
  .react-datepicker-wrapper, .react-datepicker__input-container{
    width:100%;
  }
}


.checkboxlist {
  margin-right: 10px;
}


.edituserMb  {
  input{
  margin-left: 40px;
  }
  
}

.slider-full{
  display: flex !important;
  flex-direction: column;
  .slick-list {
    order: 2;
 }
  .sliderListwrapper {
    display: flex !important;
    align-items: center;
    order: 1;
    margin-bottom: 25px;
    flex-wrap: wrap;
    li {
      width: 75px!important;
      border: 1px solid;
      border-color: #ddd;
      overflow: hidden;
      height: 95px;
      border-radius: 8px;
      margin-right: 5px;
      padding: 10px;
      padding-bottom: 2px;
      margin-bottom: 10px;
    }
    .img-thumb-title {
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: inherit;
    }
    img{
      max-width: 100%;
      height: 65px;
      -o-object-fit: cover;
      object-fit: cover;
      display: block;
      margin: 0 auto;
    }
  }
  .slick-prev, .slick-next {
    top: 60%;
  }
}


// brand page

  .commontree{
    ul{
      li{
        padding-bottom: 10px;
      }
    }
      // border-bottom: 1px solid #ccc;
      .btn-task {
        width: 25px;
        height: 25px;
      }
      .blue-add{
        min-height: 20px;
        width: 80px;
      }
      .bordergreybtm {
        border-bottom: 1px solid #ccc;
      }
      ul {
        margin: 0px;
        list-style: none;
        line-height: 2em;
        position: relative;
    
        li {
          font-size: 13px;
          position: relative;
          font-weight: 500;
          margin-bottom: 5px;
          padding-left: 120px;
          // flex: 1 1;
          // display: flex;
          text-align: center;
          margin-bottom: -10px;
          .categoryWrapper {
            li {
              ul {
                li {
                  &::before {
                    position: absolute;
                    left: 92px;
                    top: -6px;
                    content: '';
                    display: block;
                    border-left: 2px solid #555;
                    height: 1.5em;
                    border-bottom: 2px solid #555;
                    width: 28px;
                  }
                  &::after {
                    position: absolute;
                    left: 92px;
                    bottom: 8px;
                    top: 0px;
                    content: '';
                    display: block;
                    border-left: 2px solid #555;
                    height: 100%;
                    width: auto;
                  }
                }
              }
            }
          }
        }
        .strucroot {
          margin: 30px 0;
          font-size: 13px;
          padding-left: 5px !important;
          &::before {
            position: absolute;
            top: 30px;
            content: '';
            display: block;
            border-left: 2px solid #555;
            height: 1.8em;
            border-bottom: 2px solid #555;
            width: 115px;
            left: 60px;
          }
        }
      }
      .form-control {
        padding: 6px;
        font-size: 12px;
        height: 30px;
        margin-bottom: -10px;
        font-weight: 400;
      }
      .blue-add .b-t-t {
        flex: 0 60px;
        margin-left: 0;
      }
    
      .addMore {
        position: absolute;
        margin-bottom: 0;
        bottom: -25px;
        width: 209px;
        height: 20px;
        &::before,
        &::after {
          display: none !important;
        }
        .ico-add {
          width: 12px;
          height: 12px;
          margin-top: -10px;
        }
      }
      .addmoretop {
        position: absolute !important;
        top: 32px;
        margin-bottom: 0 !important;
        height: 12px;
        width: 250px;
      }
    
      .addmorebtmup {
        bottom: 15px !important;
        width: 100px;
        overflow: hidden;
        cursor: pointer;
        height: 30px;
        .b-t-t {
          margin-left: -8px;
        }
      }
      .subsubcat {
        li {
          margin-bottom: 0px !important;
          &::before {
            top: -3px !important;
            height: 1.5em !important;
          }
          &::after {
            bottom: 23px !important;
          }
        }
      }

    
  }
  .brandCatwrapper{
    max-width: 650px;
    margin: 0 auto;
}


.commontree ul li .categoryWrapper li ul:after {
  position: absolute;
  top: -24px;
  content: '';
  display: block;
  height: 1.5em;
  border-bottom: 2px solid #555;
  width: 33px;
  left: 100px;
}

.formIcon{
    display: flex;
    border: 1px solid #ccc;
    align-items: center;
  .form-control {
    border: 0px;
    box-shadow: initial;
    width: 135px;
    height:30px;
}
}

.mdIco{
  font-size:20px;
}

.uploadedFiles li {
  margin-bottom: 10px;
}




// approve decline switch



.actionSwitch {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 30px;
}

.actionSwitch input {display:none;}

.actionSwitch .slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #da2020;

  -webkit-transition: .4s;
  transition: .4s;
}

.actionSwitch .slider1:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  right: 3px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;

}

.actionSwitch  input:checked + .slider1 {
  background-color: #4cb050;
}

.actionSwitch input:focus + .slider1 {
  box-shadow: 0 0 1px #fff;
}

.actionSwitch input:checked + .slider1:before {
  -webkit-transform: translateX(-78px);
  -ms-transform: translateX(-78px);
  transform: translateX(-78px);
}
.actionSwitch .slider1.round:before {
  border-radius: 50%;
}

.actionSwitch .slider1:after
{
 content:'Decline';
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 45%;
 font-size: 12px;
 font-weight:500;
 color: #fff;
 width: 100px;
 text-align: center;
 line-height: 11px;
 text-transform: uppercase;
}

.actionSwitch input:checked + .slider1:after
{  
  content:'Approve';
  left: 58%;
}
.actionSwitch .slider1.round {
  border-radius: 34px;
}

.appr .dropdown-menu {
  min-width: 100px !important;
  right: -10px !important;
}

.msg-sm {
  display: block;
  font-size: 11px;
  margin-top: 5px;
  color:#929292;
}

.msg-sm-file {
  display: block;
  font-size: 11px;
  margin-top: 5px;
  color:#1890ff;
}

.partBox  {
  .s-arrow{
    background-position: right 6px bottom 14px;
  }
}

.btn-default[disabled]{
 &:hover{
   color:#8a8787;
 }
}






.disableEnableSwitch {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 30px;
}

.disableEnableSwitch input {display:none;}

.disableEnableSwitch .slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #da2020;

  -webkit-transition: .4s;
  transition: .4s;
}

.disableEnableSwitch .slider1:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  right: 3px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;

}

.disableEnableSwitch  input:checked + .slider1 {
  background-color: #4cb050;
}

.disableEnableSwitch input:focus + .slider1 {
  box-shadow: 0 0 1px #fff;
}

.disableEnableSwitch input:checked + .slider1:before {
  -webkit-transform: translateX(-78px);
  -ms-transform: translateX(-78px);
  transform: translateX(-78px);
}
.disableEnableSwitch .slider1.round:before {
  border-radius: 50%;
}

.disableEnableSwitch .slider1:after
{
 content:'Disable';
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 45%;
 font-size: 12px;
 font-weight:500;
 color: #fff;
 width: 100px;
 text-align: center;
 line-height: 11px;
 text-transform: uppercase;
}

.disableEnableSwitch input:checked + .slider1:after
{  
  content:'Enable';
  left: 58%;
}
.disableEnableSwitch .slider1.round {
  border-radius: 34px;
}



.ppapfil{
  .form-group, .show-p-info {
    margin-right: 10px;
  }
} 

.productmainwrap {
  // width:1300px;
  width: 960px;
  margin:auto;

  .bunchinput input {
    width: 108px;
    min-width: 108px;
}

.categoryWrapper li ul li::before{
  width: 28px !important;
}
.th-f{
  flex: 0 0 165px !important;
}
.flex110{
  flex: 0 0 100px !important;
}
}


.finbox .form-group{
  display: flex;
  align-items: center;
}

.lbwrap{
  label{
    font-size: 13px;
    color: #41535b;
    margin-bottom: 10px;
    font-weight: 500;
  }
}


.revFullwrap {
  flex-direction: column;
  
  .revsecBlock{
    margin-bottom: -55px;
    margin-top: 35px;
  }
}





.searchautopoplist ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin:0px 3px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0px 0px 1px 0px #aaa;
  li{
    padding:8px 4px;
    text-decoration: none;
    font-size: 12px;
    color: #555;
    display: block;
    cursor: pointer;
    word-break: break-word;
    text-align: left;
  }
}
.searchautopoplist ul li:not(:first-child) {
  border-top: 1px solid #ddd;
}


.dashwrap td, .dashwrap th {
  min-width: 75px !important;
}

.listuser {
  padding: 0;
}


.edittuserwrap{
  .tb-main .tb-value {
    width: 165px;
    .rev-tooltip {
      width: 150px;
    }
    .tb-list {
      width: 175px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .tb-title{
    max-width: 115px;
    width: 115px!important;
  }
}
.hei35{
  height:35px !important;
}

.show-dis{
    color: #c1c1c1;
    cursor: not-allowed;
}

.agr-term .termsCondbox {
  width: 95%;
  span.show-con-terms {
    word-break: break-word;
  }
}

.inpselectBox {
  .s-arrow {
    background-position: right 10px bottom 5px;
  }
}

.brk-serchword input {
  // overflow: hidden;
  // white-space: nowrap;
  // -o-text-overflow: ellipsis;
  // text-overflow: ellipsis;
  // word-break: break-all;
  width: 290px;
}

.border0 {
  ul {
    border: 0;
  }
  .popper {
    ul {
    box-shadow: none;
    border: 0;
    }
  }
}

// custom checkbox

.chektxtWrap {
  label {
    display: block;
     padding: 0px 5px 5px; 
     position: relative;
      padding-left: 20px;

      input {
        display: none !important;}
       }
       span { 
         border: 1px solid #41535b;
         color: #111;
         border-radius: 50%;
         width: 17px;
         height: 17px;
         position: absolute;
         overflow: hidden;
         line-height: 1;
         text-align: center;
         font-size: 9px;
         padding: 4px;
         left: 0;
         font-weight: 600;
         top: 50%;
         margin-top: -7.5px;
         cursor: pointer;
         }
  }

  .chektxtWrap input:checked + span {
    background: #41535b;
     border-color: #41535b; 
     color:#fff;
  }

  // warehouse css
  .tableFixHead-dd{
    table{
      thead{
        tr{
          th{
            border-bottom: 1px solid #ccc !important;
            border-top: 1px solid #ccc !important;
          }
        }
      }
      tbody{
        tr:last-child {
          td {
            border-bottom: 1px solid #ccc !important; 
            }
          }
        }
      }
  }

  .geo-drp{
    .popper-dd {
      width: 100% !important;
      margin: auto;
    }
  }

.fixsetvalue{
  border: 1px solid #ddd;
  padding: 0 5px;
}
.top-col.wset {
  max-width: 35%;
}

@media screen and (max-width: 1300px) {
  .suppbuyerBlock {
    .tb-value {
      flex:0 0 140px;
      .ant-select {width:100px !important;}
    }
  }
}