$pending:#e2575c;
$approve:#42b773;
$createdby:#3c99ff;
.approve {color:$approve !important;}
.pending {color: $pending !important;}
.createdby {color: $createdby !important;}

.border-lr-0 {border-left: none !important;border-right:none !important;}
.border-l-0 {border-left: none !important;}
.border-r-0 {border-right: none !important;}

  .table_wrap {
    background-color:#f2f2f2;
    min-height:90vh;
    padding:20px;
    table {
      border-spacing: 0 10px;
      position: relative;
      overflow: hidden;
      // position: relative;
      border-collapse: separate;
      tbody {
        tr {
          background-color:#fff;
          td {
            border-top:none;
            border:1px solid #ddd;
            padding: 20px 0 20px 20px;
            .table_first {
              color: #848484;
              font-weight: 400;
              font-size: 13px;
            }
            .table_second {
              color: #646464;
              font-weight: 400;
              font-size: 15px;
            }
            .build_data {
              text-align: center;
              max-width: 120px;}
            }
          .hover_view_build {
            visibility: hidden;padding:0;
            position: absolute;width: 39%;transition: .5s ease-in-out;
            background-color: #bbe1fa !important;
            transform: translateX(0%);
            .view_build { padding:0;display:flex;
              button {
                color:#000;font-size:12px;font-weight:500;flex:0 0 50%;
                border:none;box-shadow:none;background:transparent;
                // padding: 30px 10px 28px 10px; because of viewandeditbuild page
                padding: 10px 10px 6px 10px;
                &:hover {background: #007bff;color: #fff;}
              }
            }
          }
          &:hover {
            .hover_view_build {transform: translateX(-100%);visibility: visible;}
          }
        }
      }
    }
  }

  .sbp-ico{
    position: relative;
    .fa-search{
    position: absolute;
    z-index: 1;
    top: 10px;
    color: #bdbdbd;
    left: 9px;
    }
    .css-tlfecz-indicatorContainer, .css-1gtu0rj-indicatorContainer{
      padding: 6px 8px;
    }
  }