.ant-drawer-content-wrapper{
    height: auto !important;   
    .ant-drawer-header{
        background-color: $blue-primary;    
        .ant-drawer-title{
            color:$white;
            font-size: 14px;
        }
    }
    .ant-drawer-body{
        background-color: $modalbg;    
        .Attachmentsleft{
            background-color: $white;
            // padding:14px 16px 70px 16px; padding may be reflect to another page 
            padding:15px 16px;
            margin-bottom: 20px;
            .cardTitle{
                display: flex;
                justify-content: space-between;
                margin-bottom:10px;
                span{            
                    line-height: 1.57;            
                    color:$text-color;              
                    }        
                }
                .cardAttachament{                    
                    .cardMedia{
                        padding:14px 15px;
                        border-radius: 2px;
                        background-color: $PattensBlue;  
                        display: flex;                      
                        justify-content: space-between;
                        margin-bottom: 20px;
                        .productNote{
                            width: 48px;
                            height: 48px;
                            background-color: $white;
                            margin-right: 10px;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
}
                           
                        }
                          .productName{
                             display: flex;
                             justify-content: space-between;
                           }
                          .ButtonsUsefull{                             
                              display: flex;
                             > span{
                                  width:16px;
                                  height: 16px;
                                  border-radius: 50%;
                                  text-align: center;
                                  margin-right: 8px;
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;   
                                  cursor: pointer;                               
                                }
                                
                              
                              .whiteBg{
                                background-color:$white;
                                border: solid 0.8px #c0c0c0;
                                > img{
                                    margin-right: 0 !important;
                                }
                              }
                              .dangerous{
                                  background-color:$dangerous;
                                  > .fa-times{
                                    color:$white;
                                    font-size: $xxSmall;
                                    text-align: center;
                                }

                              }
                          }
                    }
                 }
        }
        .productDetails{
            background-color:$white;
            
            .productHeader{
                border-bottom:1px solid $lightBlack;
                padding:10px;
                .crossBtn{
                    background: $modalbg;
                    border: 0.75px solid $modalbg;
                    box-sizing: border-box;
                    border-radius: 2px;
                    width:30px;
                    height: 30px;
                    text-align: center;
                }
                span{
                    font-size:$body;                    
                    line-height: 1.38;                    
                    color:$black;
                    margin-left: 20px;
                }
            }
            .productImage{
                pointer-events: none;
                width: 100%;
                text-align: center;
                > img{
                     max-width: 100%;       
                }                
            }
        }

        // Modal Form CSS
        .productFrom{
            background-color:$white;
            padding: 10px 15px;
            .d-p-label.redioButton{
             label{
                    top: 0 !important;
                }
            }
        }
    }

.modalScroll{
    max-height: 500px;
    overflow: hidden;
    overflow-y: scroll;    
    .btn-solid-blue{
        // padding: 8px 20px;
    padding: 6px 15px; 
    }    
    .actionButtonBox{
        display: flex;
        button{
         background: none;   
         outline: none;
         border: 0;
        }
    .additionalIcon{
        display: flex;  
        align-items: center;      
        span{
            background-color:$blue-primary;
            color:$white;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin-right: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            .fa-plus{
                font-size: $xxSmall;
            }
        }
    }
    .dangerButton{
        display: flex;
        color:$dangerous;
        margin-left:10px;
        align-items: center;
        span{
            background-color:$dangerous;
            color:$white;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin-right: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            .fa-times{
                font-size: $xxSmall;
            }
        }

    }
}
}
.tableArrow{
    > td{
        &:first-of-type{
        display: flex;
        max-width: inherit !important;
        }
        &:nth-child(4) span{
            display: flex;
            max-width: inherit !important;
            flex-direction: column;
        }
    }    
}

.additionalIcon{
    border:0;
    background: none;
}
.uploadBtn{
    font-size: $small;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: $blue-primary !important;
    position: absolute;
    right:48px;
    cursor: pointer;    
}
#formControlsFile{
    opacity: 0;    
}
.greyclr.msg-sm{
    margin-bottom: 15px;;
}

// Part Numbering Form

.titleHeading{
    font-size:$small;  
    line-height: 1.57;
    color:$black;
    display: block;
}

.partForm{
    .titleHeading{
        font-size:$small;  
        line-height: 1.57;
        color:$black;
    }
    .createBox{ 
        padding-top: 25px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        
        .partNumberDetail{
            background: $AliceBlue;     
            height:100%;      
            ul{
                padding-left: 0;
                margin-bottom: 0;
                li{
                    font-size: $small;
                    line-height: 1.71;
                    color:$black;  
                    padding: 0;    
                    list-style: none;        
                    display: inline-block;
                    padding: 6px 27px;
                    position: relative;
                    &::after{
                        width: 2px;
                        height: 2px;
                        background-color: $black;
                        content: "";
                        position: absolute;
                        right: 0;
                        bottom: 10px;
                        
                    }
                    &:last-child::after{
                        width: 0;
                        height: 0;
                    }
                 }
            }
        }
    }
    .formFields{      
        .labelBox{
            background: $modalbg;
            padding:10px;
            ul{
                padding-left: 0;
                margin-bottom: 0;
                li{
                    list-style: none;
                    display: inline-block;
                    padding-right: 100px;
                    padding-left: 10px;
                    font-size: 14px;
                    line-height: 1.71;
                    color:$Nero;
                }
            }
        }

        .formCard{
            border: solid 1px #e9e9e9;
            padding:10px;
            margin-top:3px;                      
             .form-group{
                   margin-bottom: 0;                               
                   
              }
            .dangerous{
                background-color:$dangerous;
                width:16px;
                height: 16px;
                border-radius: 50%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                > .fa-times{
                color:$white;
                font-size: $xxSmall;
                text-align: center;
            }

        }
        }
    }
    .accordionMain{
        .toggleActive{
            font-size: $small;            
            line-height: 1.57;            
            text-align: right;
            background-color:$AliceBlue;
            
                > span{
                    width:100px;
                    font-weight: normal;
                    text-align: center;
                    color:$primary-color;
                    padding:10px !important;
                    border-radius: 2px;
                }
        }
        .toggleInactive{          
            background-color:#F9DEDF;
         
            > span{
                font-size: $small;            
                line-height: 1.57;            
                width:100px;                
                text-align: center;
                color:$dangerous;
                padding:10px !important;
                border-radius: 2px;
                font-weight: normal;
            }
        }
    }
    .additionalIcon{
        display: flex;        
        span{
            background-color: $primary-color;
            color:$white;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin-right: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            .fa-plus{
                font-size: 10px;
            }
        }
    }
    .buttonBox{
          border-top: 1px solid #ddd;
          padding-top: 25px;
    }
}
.confim-mod.yesno  {
    position: absolute;
    margin-top: 20px;
    max-width: 100%;
    right: 40px;
    flex-direction: column;
}

// RFQ design issue

.createDropnw.rfq-dropn.editmodl-drp {
    .popper{ 
        top: 0 !important;
        width: 100%;
        position: relative !important;
        left: 0 !important;
        transform: inherit !important;
        
        ul.poperList{
            width: auto !important;
            max-width: 100%;
        }    
    }
}
	.sideDrawerOpen {
    .page-sidebar-fixed{
        .custom_fixed {
          .rfq_table_wrap{
           .ant-table.ant-table-bordered {
              .ant-table-title {width: 82.2%;}
          }
        }
			}
		}
	}
.page-sidebar-fixed{
  .custom_fixed {
    .top__hero {border: none;height:40px;position:fixed;z-index: 1;top:40px;width:100%;background-color:$white;}
    .rfq_table_wrap{
      overflow: inherit;
      .ant-table.ant-table-bordered {
        // .ant-table-title {position: fixed;z-index: 1;width: 97%;background-color:$white;padding:23px 0;top:80px;} apply for title top
        .ant-table-title {position: fixed;z-index: 1;width: 97%;background-color:$white;padding:2px 0;top:82px;}
        // .ant-table-container {padding-top:71px;} // apply for filter icon and top section
        .ant-table-container {padding-top:61px;}
      }
      .col-select {right:20px;}
    }
  }
}
.closeIcon{
    position:absolute;
    right: 0;
    top:4px;
    > button{
        background: transparent;
        outline: 0;
        color:$white;
        padding: 0 28px;
    }
}
@media screen and (max-width: 1300px){
.suppbuyerBlock {
    .tb-value{
         .ant-select{
             width:100% !important;
             max-width: 61px !important;

        }

    }
}
}
.dropDownBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .selectDropDown{
        width: 100%;
        // margin-right: 10px;
        .labelHide{
            display: none;
        }
    }
    .btnGroup{
        .btn-solid-blue{
            background: $primary-color;
            color: $white;
        }
        .btn-outline-blue{
            border: solid 1px $primary-color;
            color: $primary-color;
            background-color: $white; 
            &:hover {
                background-color: $foam !important;
                color: $primary-color !important;
            }         
        }
    }
}
/**********Rfq last select box***********/

.multislider_wrap.lastsupplier.dropDownBtn {
    display: inline-block;
    width: 100%;
    .selectDropDown {width:100%;}
    .btnGroup {justify-content: end;}
        
    }

    .partForm{
        .accordion--style{
            .panel.border-top-0{               
                    border-top: 0;
               
            }
        }
    }

    .activeRound{
        .ant-steps-item-process{
            .ant-steps-item-icon{
                background-color: $blue-primary;
                border:2px solid;
                border-color: $blue-primary;
                > .ant-steps-icon{
                    display: none;


                }
            }
        }
    }


.selectOverflow{
    text-overflow: ellipsis;
    padding-right: 15px !important;
    white-space: nowrap;
}
.pn_style input{
    padding-right: 30px;
}
.table__style .ant-table-content .ant-table-thead > tr > th{
    white-space: nowrap;
}
.table__style .ant-table-small .ant-table-thead > tr > th{
    white-space: nowrap;
}

.simple-select {
    width: 150px;
}
.table__style{
    .ant-table-body{
       min-height: 230px;
    }
}
.searchScroll{
    .dropDownWidth{
        width: 200px;
    }
}
/*********new add css*********/
.custom_table_rfp {
  .table__style {
      .ant-table-header {
        .ant-table-thead {
            th {min-width: 200px;width:100%;}
        }
      }
    // .ant-table-thead > tr > th {white-space:normal;}
    .ant-table-body{ 
      tr.ant-table-row {
        td.ant-table-cell {
          .ant-form-item {width: 100% !important;}
        }
      }
    }
  }
}

.tableBorder{
    .ant-table-content{
        > table{
        > thead{    
            > tr {    
                th{
                    border-top: 1px solid $borderColor !important; 
                    &:first-child{
                        border-left: 1px solid $borderColor !important; 
                    }                      
                    &:last-child{
                        border-right: 1px solid $borderColor !important; 
                    }                      
                }            
                }
                
             }
            }
        }
}

.iconEdit{
    position: absolute;
    top: 8px;
    right: 8px;
}
.form-group {
    .form-control{ border-radius: 2px;}
}

.dropselectedList ul {
    li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
        p{
            margin-bottom: 0;
            white-space: nowrap;
            width: 85px;
            text-overflow: ellipsis;
            overflow: hidden;
            
        }
    }

}
.specificationDropDown.select_style{
    background-position: center right;

}
.f-tbody{
    .fullwidth{
        .structree{
            overflow-x: auto;
        }
    }
}

.success{
    color:$light-green;
}
.unverified {
    color:$black;
}

input::placeholder{
    text-transform: inherit !important;       

}

.formIcon.border-0{
    margin-left: 10px;
    background-color: $white;
    border:0;
}
.new-tablpart tbody tr td .form-control{
    padding-left: 10px;
}

//Commenting temporarily as the specifications were not being displayed properly
// .innerdropdown-sp{
//      .createDrop{
//           .popper-dd{ 
//               height: 34px;
//               display: flex; 
//               align-items: center;
//               padding-left: 10px;
//             }
//         }
//     }



.custom_rfp_modal{
    .drawer_foot{
        padding: 16px 20px;
        position: absolute;width: 100%;bottom:0px;
    }
}

.table-fixed-colrow table thead th.borderNone{
    border-top:0 !important;
    border-bottom:0 !important;
}
.table-fixed-colrow table thead th.borderNone:last-child{
    border-right:0 !important; 
}

.shp_qt_date input:disabled{
    opacity: 0.5;
}
.form-control[disabled] {    
    opacity: 0.5;
}

.table thead tr th.noSpace {
    padding: 0;
    line-height: 23px;
}
#no-border td{
    line-height: 39px;
}
@media(max-width:1440px){
    .ant-drawer-content-wrapper .productFrom{
        overflow: auto;
    }
}

.group .bar:after, .group .bar:before{
    background: $primary-color;
}
.group input:focus ~ label, .group input:valid ~ label, .group input:disabled ~ label, .group select:focus ~ label{
    color: $primary-color; 
}
// .ant-btn{
//     height: 38px !important;
// }

.form-control{
    box-shadow: none;
}
.formCard{
    .checkBox{
        width: 15px;
        height: 15px;
        margin-left: 25px;
    }
}

/**********dashboard page **********/
.dashboard_wrap {
 .ant-popover.ant-popover-placement-bottom {z-index: 2;}
 .table-fixed-colrow table thead th {z-index: 1;}
}  

.projectSetup{
    .nav-tabs{
        border:0;
        border-bottom: 1px solid $lightBlack;
        li.active{
                a{
                    border:0;
                    border-bottom: 1px solid $primary-color;
                    color:$blue-primary
                }
            }        
            a{                           
                color:$text-color;
            }
        }
}
.modalEdit{    
     .borderTop{
         border-top:0 !important;
         border:0 !important;
     }
     .close{
        background-color:$white;
        border: 1px solid $lightGray !important;
        color: #828282;
        width:24px;
        height: 24px;
        opacity: 1;
    
    }
}
.dflex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between !important;
}
.dangerousBox{
    .dangerous{
        color:$white;
        background-color:$dangerous;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
            > .fa-times{
                font-size: 10px;
            }
        }
}
.borderTop{
    border-top:0 !important;
    border:0 !important;
}
.radio-inline{
    input[type=radio]{
        margin-top: 2px;
    }

}
.react-datepicker__input-container:after{
    color: #bdbdbd;
}
.custom_modal_rfq{
    .ant-drawer-header{
        padding: 9px 24px !important;
    }
}
.has-feedback .form-control {
    padding-right: 20px;
}
// Disply block
.dblock{
display:block;
}
.red-strip{
    border-left: 5px solid #D92027 !important;
    padding: 2px;
}
.green-strip{
    border-left: 5px solid #79D70F !important;
    padding: 2px;
}
.main-slid .slid-ht iframe{
    height: 545px;
}

// @media (max-width:1366px){
    .anot-modl-width-img .modal-body{
        height: 100%;
        overflow: hidden;
    }
//   }

.style-form{
    .group{
     label{
        left: 5px !important;
    }
}
}
.two-col-fixed table thead tr:nth-child(2) th{
    top: 37px;
    position: inherit;
}
.bookmark-container{
    .fil-title-blue {
        background-color: $white;
        padding:5px 10px;
        border-radius: 2px;
        color:$primary-color;
        margin-right: 15px;
        &:hover{
            background-color: $primary-color;
            color:$white
        }
    }
}
.top-bar{
    .navbar-inverse{
        .left-bar.navbar-nav{
            li{
                a{
                    &:hover{
                        background-color: $blue-sec;
                        color:$primary-color !important;   
                        border-radius: 5px 5px 0 0;                           
                        .icon-bookmark, .icon-menu{    
                            &:before{
                            color:$primary-color !important;
                        }
                    }                                                           
                                
                }
                
            }
        }
    }
}

}
.ico-db {
    img{
        width:100%;
    }
}
.icon-single-user, .icon-team {
    color:$text-color;
}
h3{
    small{
        color:$text-color;
    }
}
.action-dd .dropdown{
    position: relative;
    right: 0;
}
// Table grid changes

.ant-table.ant-table-small .ant-table-thead .ant-table-filter-column{
    margin: -5px -8px;
}
.radio-inline input[type=radio]{    
    margin-top: 4px;
}
.ant-table-title .page-select .col-select .check-grid {
    padding: 5px 10px !important;
}
.summarydatagrid_wrap{
    .dark-greybg-btn{
        z-index: 0;
    }
}
.tableHeading{
    span{
        width:100%;
        font-size: $xSmall;
    }
   
}
.ant-table-filter-dropdown .ant-checkbox-wrapper + span{            
    white-space: break-spaces !important;
    display: inline-block !important;
    max-width: 350px !important;
}       


.createnewrfp_dropdown{
    .btn-primary, .btn-primary[disabled]{
        margin-bottom:10px;
    }
}

.chart-title .db-bold{
    font-size: $xSmall !important;
}
.columnWidth.developmentpart_table .ant-table-body table tbody tr td.ant-table-cell.ant-table-cell-with-append{
    min-width: 212px; 
  }


/*********New Multiselect dropdown on createnerfp or submitReviewtable.js page***************/
.buttonAction{
    .rst_head{
      ul{
        li{
          button{border:1px solid #d9d9d9;}
          .popper-dd.select_style {padding:6px 20px !important;}
        }
      }
    }
    .xs_select {
     .ant-select-selector{height: 30px !important;padding: 0 4px !important;}
     .popper-dd {height: 30px !important;}
    }
}
.ant-popover-disabled-compatible-wrapper{opacity: 1;}
/*********New Multiselect inner dropdown***************/
.multislider_wrap.multiSelectUpdate {width: 190px !important;}
.multislider_wrap.multiSelectUpdate .ant-select-selector {
    padding: 0 24px 0 4px !important;height: 30px !important;cursor: pointer !important;
}
.multislider_wrap.multiSelectUpdate .ant-select-selector .ant-select-selection-item{
  color: #007BFF;
  min-height: auto;height: auto;max-width: 100px;
  padding:0 2px; 
  margin: auto;
  background: #BBE1FA;
  border-radius: 2px;
  line-height: 18px ​!important;
  margin: 0 !important;    
}
.multislider_wrap.multiSelectUpdate .ant-select-selector .ant-select-selection-item .anticon-close{
  color: #BBE1FA;
  background-color: #007BFF;
  width: 12px;
  height: 12px;
  font-size: 7.5px !important;
  padding: 0 2px;
}
.height32 {height: 32px !important;}