.db-section {
  &:before {
    content: "";
    background-color: #41535b;
    width: 100%;
    height: 250px;
    position: absolute;
    z-index: 0;
  }
}

.dashboardWrapper {
  background-color: #fff;
  // margin-top: 68px;
}
.db-tab {
  .nav-tabs {
    @include flexbox();
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
    @include flex-direction(column);
    border-bottom: 0;
    > li {
      // flex: 1 1 20%;
      // max-width: 20%;
      height: 50px;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      width: 100%;
      // .dropdowntop {display: none;}

      // @media (max-width: 768px) {
      //   flex: 1 1 50%;
      //   max-width: 50%;
      // }
      &.active {
        a {
          background-color: transparent;
          border-bottom-color: transparent;          
          background-position: 0%;
          border-left:3px solid $white;
          background-color: rgba(255, 255, 255, 0.1);
          &:hover,
          &:focus {
            // .dropdowntop {display: inline-block;opacity: 0.5;}
          }
          // .dropdowntop {display: inline-block;opacity: 0.5;}
          .t-title {
            // left: 0px;
            opacity: 1;
          }
          .t-title {
            opacity: 0;
          }
        }
      }
      a {
        @include flexbox();
        @include align-items(center);
        @include justify-content(flex-start);
        // @include flex-direction(column);
        width: 100%;
        height: 100%;
        padding: 0;
        color: #41535b;
        border-radius: 0;
        border: 0;
        margin-right: 0;
        text-align: center;        
        // background-size: 200% 100%;
        background-position: 100%;
        transition: all 0.5s cubic-bezier(0, 0, 0.23, 1);
        overflow: hidden;
        border-left:3px solid $primary-color;
        &:hover {
          background-position: 0%;
          background-color: rgba(255, 255, 255, 0.1);
          border-left:3px solid $white;
        }
        svg {
          fill: #fff;
        }
        // &:after {
        // content: "";
        // display: block;
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 0;
        // left: 0;
        // pointer-events: none;
        // background-image: radial-gradient(
        // circle,
        // #fff 10%,
        // transparent 10.01%
        // );
        // background-repeat: no-repeat;
        // background-position: 50%;
        // transform: scale(7, 7);
        // opacity: 0;
        // transition: transform 0.8s, opacity 1s;
        // }
        &:active {
          border-left:3px solid #fff;
          &:after {
            transform: scale(0, 0);
            opacity: 0.3;
            transition: 0s;
          }
        }
        > a {
          padding: 0;
          text-decoration: none;
        }
      }
    }
    .t-title {
      flex: 1;
      display: inline-block;
      position: relative;
      font-size: $xSmall;
      font-weight: $semibold;
      color:$white;
      // left: -200px;
      opacity: 0;
      margin-top: 3px;
      text-align: left;
      max-width: 60%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 2px 0 10px;
      transition: all 0.2s cubic-bezier(0, 0, 0.23, 1);
    }
    &:hover {
      .t-title {
        // left: 0px; // opacity: 1;
      }
    }
  }
}
// .db-filter {
//   padding: 20px 0;
// }
.filter-in {
  .form-control {
    border: 0;
    box-shadow: none;
    background-color: #eee;
    border-radius: 0;
    height: 38px;
    margin-right: 5px;
  }
  label {
    font-weight: normal;
    margin-right: 10px;
  }
  .form-group {
    position: relative;
    .ico-search {
      position: absolute;
      right: 15px;
      top: 30%;
    }
  }
}
.r-caret {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 7px solid;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  &.red {
    border-left-color: #ec3123;
  }
  &.green {
    border-left-color: #55cc3e;
  }
  &.yellow {
    border-left-color: #eaaf13;
  }
  &.blue {
    border-left-color: #4eb0ea;
  }
  &.orange {
    border-left-color: #ebb111;
  }
}
.h-10 {
  height: 10px;
}
.btn-td {
  padding: 3px !important;
  text-align: right !important;
}
/* ***new nav** */
#navWrap {
  width: 55px;
  min-height: calc(100vh - 57px);
  position: fixed;
  background-color: $primary-color;
  height: 100%;
  top: 57px;
  left: 0;
  z-index: 1111;
  transition: all 0.2s cubic-bezier(0, 0, 0.23, 1);
  &:hover {
    width: 200px;
    li {
      // padding-right: 5px;
      transition: all 0.2s cubic-bezier(0, 0, 0.23, 1);
    }
    .t-title {
      // left: 0px;
      opacity: 1;
    }
    // .dropdowntop {display: inline-block;opacity: 0.5;}
    .nav-notific {
      display: block;
    }
  }
}
.mainWrapper {
  position: relative;
}
.content-body {
  flex-direction: column;
  // width: 100%;
  height: 100%;
  min-height: calc(100vh - 57px);
  margin-left: 55px;
  .content {
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
  }
}
.nav-notific {
  padding: 0;
  margin: 0;
  flex: 1;
  display: none;
  li {
    display: inline-block;
    width: 18px;
    height: 18px; // border: 1px solid; // border-color: red;
    text-align: center;
    color: #fff;
    font-size: 10px;
    border-radius: 50%;
    margin-right: 3px;
    padding-top: 3px;
    padding-right: 0 !important;
    &.bg-g {
      background-color: #4cb578;
    }
    &.bg-o {
      background-color: #eab016;
    }
    &.bg-r {
      background-color: #ed4b40;
    }
  }
}

// new user Role css
.usertble{
  tbody {
    tr {
      td {
        &:first-child {
          width: 120px;
        }
        button {
          border: 0;
          background: none;
        } 
      }
    }
  }
  .inner-accordntble {
    table{
      tbody{
        tr:nth-of-type(odd) {
          background: #efefef;
        }
        tr{
          border:0;
          td{
            border-top: 0 !important;
            border-bottom: 0 !important;
            width: 120px !important;
            min-width: 120px !important;
            background: none !important;
          }
          td:first-child{
            border-left: 0 !important;
          }
          td:last-child{
            border-right: 0 !important;
          }
        }
      }
    }
  }
}


