
.parent-form{
  margin-bottom: 15px;
  position: relative;
  input.form-common, textarea.form-common{
    border-radius: 4px;
    border: solid 1px;
    border-color:#d9d9d9;
    background-color: #ffffff;
    padding: 6px 12px;
    font-size: 1em;
    display: block;
    width: 100%;
    &.red-border{
      border-color: #d92027;
     
     }

     &::-webkit-input-placeholder { /* Edge */
      font-size: 1em;
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-size: 1em;
    }
    
    &::placeholder {
      font-size: 1em;
    }
  }

  .react-datepicker-wrapper{
    display: block;
    .react-datepicker__input-container {
      input{
        height: 30px;      
      }
      &::after{
        top: 30%;
        right: 10px;
      }
     
    }
  }
  .react-datepicker-wrapper + .fa-check-circle.fk-s-c{
    right: 33px;
  }
  .css-2b097c-container + .fa-check-circle.fk-s-c{
    right: 25px;
  }
  label{
    font-weight: 400;
    font-size: 14px;
    color: #262626;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .fa-check-circle.fk-s-c{
    position: absolute;
    right: 12px;
    top: 36px;
  }
  input[type=text].form-common{
    padding-right: 32px;
  }
}

.form-common.red-border{
  .css-ba2o3m-control{
    border-color: #d92027;
  }
}

.fk-f--name{
  span{
    max-width: 200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
  .rep-file{
    color: #d92027;
    margin-left: 10px;
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: 11px;
  }
  .red-border {
    border: 1px solid #d92027;
    padding: 2px;
  }
}

.fk-success-m{
  color: #00a91c;
  font-size: 10px;
  .fas{
    font-size: 15px;
  }
}
.fk-error-m{
  color: #d92027;
  font-size: 10px;
}
.fk-s-c{
  color: #00a91c;
}
.fk-e-c{
  color: #d92027;
}

.addrow-btn{
  color: $blue-primary;
  border: 0;
  background-color: transparent;
  font-size: $xSmall;
  font-weight: 400;
}
.delrow-btn{
  color: #d92027;
  border: 0;
  background-color: transparent;
  font-size: $xSmall;
  font-weight: 400;
}

.checkbox--blue{
  .checkbox {
    + .mark{
      &::after{
        border: 1px solid #007bff;
        cursor: pointer;
        border-radius: 2px;
      }
    } 
    &:checked{
      + .mark{
        &::before{
          border: 2px solid #007bff;
          border-top-style: none;
    border-right-style: none;
        }
      }
    }
  }
  .ck-label{
    color: $text-color;
    font-size: $xSmall;
    font-weight: 400;
  }
}


.foot-btn{
  padding: 10px 30px;
    // border: 1px solid #ddd; border top should be only there on add supplier page
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
    margin-right: -15px;
    margin-left: -15px;
}
.checkbox--wrapper{
  clear: both;
  margin-bottom: 1em;
  input.form-common{
    display: inline-block;
    width: auto;    
    margin-top: 0;
    margin-right: 10px;
   
  }
  label{
    vertical-align: middle;
  }
}

.accordion--style{
  .row{
    margin-right: -10px;
    margin-left: -10px;
  }
  [class^='col-md']{
    padding-right: 10px;
    padding-left: 10px;
    // min-height: 109px; height should be reduce in addsupplier page
}
.col-md-0{
  min-height:auto;
}
     }

     .modal-from-bottom{
      padding-left:0 !important;
       .modal-dialog{
width: 100%;
.modal-content{
  border-radius: 0;
}
       }
       &.fade {
        .modal-dialog {
          transform: translate3d(0, 100vh, 0);
        }
       }
       &.in{
        .modal-dialog {
          transform: translate3d(0, 0, 0);
        }
       }
     }

     .parent-form.horizontalClass{
      display: flex;
        align-items: center;
        width: 400px;
        padding-left: 15px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 0px;
        border-left: 1px solid #ddd;
        padding-top: 10px;
        border-right: 1px solid #ddd;
        padding-right: 15px;
        //margin-left: 15px;
      label{
        margin-bottom:0;
        margin-right: 15px;
        color: #4f4f4f;
        white-space: normal !important; 
            overflow: visible;
        width: 259px;   
      }
    }
    .pdt--head{
      width: 400px;
        background-color: #f2f2f2;
        padding: 10px 15px;
        border: 1px solid #ddd;
        color: #4f4f4f;
        font-weight: 500;
      .pt--200{
        width: 160px;
        display: inline-block;
     }
    
    }
    .phead--set{
      padding: 10px 20px;
    margin: 0 -20px;
    }


.ant-form-item-control-input-content {
.react-datepicker__input-container {
  .red-border {
    border: 1px solid #ff4d4f;
  }
} 
}

.ant-form-item-control-input-content {
.react-datepicker__input-container {
  .def-border {
    border: 1px solid #ccc;
  }
} 
}