.icon-f-s{
  font-size: 17px;
	color: #41535b;
	font-weight: 600;
}

.trk-elipse-btn {
	.dropdown {
			top: -10px;
			ul.dropdown-menu {
				background-color: #fff;
				border: 0;
				&:before {
					background-color: #fff;
					border-bottom: 1px solid #ddd;
					border-right: 1px solid #ddd;
				}
				a.revsec {
					color: #37464d !important;
				}
			}
	}
}