/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #ffffff;
  color: #fff;
} */

/* .replies {
  margin-left: 10px;
} */

.pdfanno{

.sidebar {
	overflow: auto;
	color: #41535B;
	width: 30vw;
	height: 96vh;
}
.sidebar__highlights {
	list-style: "none";
	padding: 0;
}
.highlight__location {
	margin-top: 0.5rem;
	text-align: right;
	font-size: 10px;
}
.highlight__image {
	overflow: auto;
	max-width: 190px;
}
.highlight_img {
	max-width: 100%;
	max-height: 350px;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 2px;
	border: 1px solid black;
}
.highlight__content {
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
	border-left: 5px solid #007BFF;
	padding-left: 4px;
}
.sidebar__highlight {
	padding: 1rem 1rem 1rem 0;
	cursor: pointer;
	transition: background 140ms ease-in;
	border-bottom: 1px solid rgb(119, 119, 119);
	position: relative;
}
a {
	color: #d35400;
	&:focus {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
}
blockquote {
	padding: 0;
	margin: 0;
	quotes: "\201c" "\201d";
	&:before {
		content: open-quote;
		padding-left: 5px;
	}
	&:after {
		content: close-quote;
	}
}
.userName {
	font-weight: bold;
	color: #7573c7;
}
.reply-icon {
	position: absolute;
	right: 34px;
	top: 25px;
}
.tag-icon {
	position: absolute;
	right: 5px;
	top: 28px;
}
.reply-comm {
	margin: 0 0 15px;
	width: 60%;
	float: left;
}
.panel-body {
	padding: 15px 15px 0 15px;
}
.panel-title {
	font-size: 13px;
	color: cornflowerblue;
}
.relpyTime {
	font-size: 9px;
	float: right;
}
.panel-default {
	border-color: #ffffff;
}
.panel-group {
	margin-left: 10px;
	margin-bottom: 0px;
}
.arrow-right {
	width: 7px;
	height: 7px;
	border-right: 2px solid;
	border-bottom: 2px solid;
	display: inline-block;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.row {
	position: relative;
	margin-left: -15px;
}
.reply-stamp {
	position: absolute;
	right: 0px;
	top: 3px;
}
.replies {
	.down-arrow {
		transform: rotate(-45deg);
	}
}
}

.pdfanno {
	.slick-initialized.slick-slider{
		user-select: inherit;
	}
}