::placeholder {
    text-transform:capitalize;
}

:-ms-input-placeholder {
    text-transform:capitalize;
}

::-ms-input-placeholder { 
    text-transform:capitalize;
}
.icon-colorr span{
    color: #41535B;
}

.icon-stylh{
    padding: 0;
    span{
    font-size: 22px;
    color: #41535B;
    }
}

.search-gry {
    background-color: #f5f5f5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px 0 0;
    /* width: 200px; // SEARCH FIELD WIDTH  on */
    input {
        background: none;
        border: 0;
        box-shadow: none;
        &:hover,
        &:focus,
        &:active{
            outline: none;
            box-shadow: none;
        }
    }
    .ico-search {
        width: 15px;
    }
    
}
.colapse-tbl {
    padding: 15px 0 0 15px !important;
    .panel-group {
        margin-bottom: 0;
        .panel {
            background: none;
            box-shadow: none;
            border: 0;
            th{
                background: #f4f9fe;
            }
        }
        .panel-body {
            padding: 0 15px 0;
        }
        h5 {
            margin: 3px 0 15px 10px;
        }
        .table {
            background: none;
            margin-bottom: 0;
        }
    }   
}
.icon-rgt {
    button {
        padding: 0;
        span {
            font-size: 22px;
            color:#303d42;
        }
    }   
}

.file-upht {
    label {
        color: #9fa4a6;
        font-size: 12px;
    }
    input {
        border: 0;
        border-bottom: 1px solid #ccc;
        box-shadow: none;
        height: 30px;
        &:focus,
        &:hover{
            outline: none;
            box-shadow: none;
            background: transparent;
        }
    }
    // input[type="file"] {
    // display: none;
    // }
    .custom-file-upload {
        border: 0;
        display: inline-block;
        padding: 0 10px;
        cursor: pointer;
        font-size: 25px;
        color: #41535B;
    }
    p {
      max-width: 170px;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      text-align: left;
      margin: 6px 0 5px;
    }
}
.upld-tbl {
    label {
        font-size: $xSmall;
   font-weight: 400;
   color: $text-color;
        text-transform: uppercase;
    }
    p {
        font-size: $xSmall;
        color: $text-color;
        word-break: break-word;
    }
}
.doc-up {
    span {
        font-size: 27px;
        color: #41535a;
    }
}
.delt-btn{
  span{
    margin-top: 20px;
    font-size: 21px;
  }
}

.contract-no {
    color: #41535b;
    margin: 20px 0;
    font-weight: 500;
    font-size: 17px;
    text-transform: capitalize;
}

.agremnt-head.colapse-tbl {
    padding: 0 !important;
    .panel-title {
        h5 {
            margin-left: 0 !important;   
        }
        a:hover,
        a:focus {
        text-decoration: none;
        }
    }
    .panel-body {
        padding: 0 0 15px;  
    }
}
.not-txt p {
    font-size: 12px;
    padding: 10px 0;
}

.terms-pannel {
    .hero-title {
        display: none;
    }
}
.diply-blk {
    .tb-main {
        margin-bottom: 7px;
        .tb-value {
            display: block;
            padding-left: 0px !important;
        }
    }  
}
.tab-histo {
    ul{
        li{
            a{
                border: none;
                color: #41535b;
                text-transform: uppercase;
                font-weight: 500;
                padding: 3px 10px;
                &:hover,
                &:focus,
                &:active,
                &:active:hover {
                    background: none;
                }
            } 
        } 
        li.active {
            border: 0;
            border-bottom: 5px solid #41535B;
            a{
                border: 0;
                &:hover,
                &:focus,
                &:active,
                &:active:hover {
                    background: none;
                    border: 0;
                }
            }
        }
    }
}
.xl-sizemodal{
  .modal-dialog{
    width: 1230px;
  }
}
.tbl-sec-col {
  text-align: center;
  border: 1px solid #ccc;
  h4 {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    color: #41535b;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    background: #f5f5f5;
  }
  .slick-arrow {
    top: -17px;
    background: #f5f5f5 !important;
  }
  .slick-prev {
    left: 5px;
  }
  .slick-next {
    right: 5px;
  }
  .slick-prev:before, .slick-next:before{
    color: #41535b;
    font-size: 10px;
  }
  h6 {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 10px 0;
    color: #41535b;
    font-size: 10px;
    font-weight: bold;
    background: #f5f5f5;
  }
  p {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 10px 0;
    font-size: 10px;
  }
  p:last-child{
    border-bottom: 0;
  }
}
.histro-con{
  padding: 0px;
  overflow-x: auto;
  .col-sm-7, .col-sm-5{
    padding: 0px;
  }
  .tbl-first-col {
    thead {
      tr {
        th {
          height: 64px;
          padding: 10px 0px !important;
        }
        td {
            font-size: 10px !important;
            padding: 10px 0px !important;
            line-height: 1.3 !important;
        }
      }
    }
  }
}

.editviewform{
	.style-form {
		.group {
				margin-bottom: 40px;
		}
	}
}

.digisign h5 {
    margin: 4px 0 15px;
}
.inner-tablecol {
    thead {
        tr {
        border-bottom: 1px solid #ddd;
        }
    }
}
.date-pos {
    .react-datepicker-popper {
        top: 15px !important;
        left: 15px !important;
    }
}

.tb-colfix {
    table {
        position: relative;
        tr.fix-coll {
            th:nth-child(1), td:nth-child(1){
                position: sticky;
                left: -1px;
                background: #f5f5f5;
                z-index: 10;
                border: 0 !important;
                border-right: 1px solid #ccc !important;
                min-width: 70px !important;
            }
            th:nth-child(2), td:nth-child(2) {
                position: sticky;
                left: 70px;
                background: #f5f5f5;
                z-index: 10;
                border: 0 !important;
                border-right: 1px solid #ccc !important;
                min-width: 70px !important;
            }
            th:nth-child(3), td:nth-child(3) {
                position: sticky;
                left: 140px;
                background: #f5f5f5;
                z-index: 10;
                border: 0 !important;
                border-right: 1px solid #ccc !important;
                min-width: 70px !important;
            }
            th:nth-child(4), td:nth-child(4) {
                position: sticky;
                left: 210px;
                background: #f5f5f5;
                z-index: 10;
                border: 0 !important;
                border-right: 1px solid #ccc !important;
                min-width: 70px !important;
            }
            th:nth-child(5), td:nth-child(5) {
                position: sticky;
                left: 280px;
                background: #f5f5f5;
                z-index: 10;
                border: 0 !important;
                border-right: 1px solid #ccc !important;
                min-width: 70px !important;
            }
            td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5) {
                background: #fff;
            }
        }
    }
    .fix-wid-col{
        th, td{
            min-width: 60px !important;
        }
    }
}
.tb-colfix-single {
    table {
        position: relative;
        tr.fix-coll {
            th:nth-child(1), td:nth-child(1){
                position: sticky;
                left: -1px;
                background: #f5f5f5;
                z-index: 10;
                border: 0 !important;
                border-right: 1px solid #ccc !important;
                min-width: 80px !important;
            }
            th:nth-child(2), td:nth-child(2) {
                position: sticky;
                left: 70px;
                background: #f5f5f5;
                z-index: 10;
                border: 0 !important;
                border-right: 1px solid #ccc !important;
                min-width: 80px !important;
            }
            th:nth-child(3), td:nth-child(3) {
                position: sticky;
                left: 140px;
                background: #f5f5f5;
                z-index: 10;
                border: 0 !important;
                border-right: 1px solid #ccc !important;
                min-width: 80px !important;
            }
            th:nth-child(4), td:nth-child(4) {
                position: sticky;
                left: 210px;
                background: #f5f5f5;
                z-index: 10;
                border: 0 !important;
                border-right: 1px solid #ccc !important;
                min-width: 80px !important;
            }
            td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4) {
                background: #fff;
            }
        }
    }
    .fix-wid-col{
        th, td{
            min-width: 88px !important;
        }
    }
}
.approvePS{
    button{
        padding: 0px 0 5px;
    }
    ul.dropdown-menu {
			li {
				label {
					// input.checkbox {
					// 	display: none;
					// }
					// .mark:after{
					// 	display: none;
					// }
				}
			}
    }
}

.headng-tb-rm {
	margin: 0px 0 5px 16px;
	h5 {
		margin: 0px !important;
        font-size: 12px;
        color: #a9a9a9;
		span {
			width: 5px;
            height: 5px;
            margin-right: 2px;
		}
	}
}
.rm-colpse {
    padding: 5px 0 0px !important;
    .add-row {
        font-size: 12px;
    }
}
.pref-text{
	div{
		input{
			white-space: nowrap; 
			width: 160px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
.createRm{
	.modal-body{
        padding: 15px 0;
        max-height: 580px;
        overflow-y: auto;
		.grey-bg{
			background: #f4f4f4;
			.group1{
				margin-bottom: 30px;
				input{
					padding: 10px 10px 10px 0px;
					display: block;
					border: 0;
					-webkit-box-shadow: none;
					box-shadow: none;
					border-bottom: 1px solid #ccc;
					border-radius: 0 ;
					background: #f4f4f4;
				}
				label {
					color: #9fa4a6;
					font-size: 12px;
					font-weight: normal;
					pointer-events: none;
					white-space: nowrap;
				}
            } 
            .dropdown {
                border: none !important;
                box-shadow: none !important;
                border-bottom: 1px solid #ccc !important;
                background-color: transparent;
                padding-left: 0px;
            }
		}
    }
    .confim-mod {
        background: transparent;
    }
}


.delt-ico{
	font-size: 22px;
	margin: 0 10px 0px 0;
	color: #41535B;
}


.btn-linkfont{
    a {
        font-family: 'Roboto', sans-serif !important;
        padding: 8px 15px;
    }
} 
.histroricl-modl {
    .brand {
        width: 48px;
    }
    .suppbuyerBlock {
        .col-md-4:nth-child(odd) {
            background-color: #f2f6f7;
            padding: 15px 10px 0;
            margin: 0 10px;
        }
        .col-md-4 {
            display: -ms-flexbox;
            display: flex;
            padding: 15px 0;
        }
    }
}

.totalcst {
    // background: #f5f5f5;
    padding: 10px 20px;
    background: #d3d6d6;
    margin-bottom: 10px;
}

.srch-inner {
    position: relative;
    top: -7px;
    margin: 0 2px -12px 0px;
    .sp-r {
        width: 185px;
        height: 30px;
        padding: 0 5px;
        line-height: 38px;
        input {
            padding: 6px 0;
        }
    }
}
.txt-inpt{
    textarea{
        max-width: 100%;
    }
}
.pagnatn{
    display: grid;
    grid-template-columns: 1fr repeat(3, auto) 1fr;
    grid-column-gap: 5px;
    justify-items: center;
    div:nth-child(1) { 
        grid-column-start: 4; 
    }
    div:nth-child(2) { 
        margin-left: auto;
    }

    .pagination{
        margin: 0;
    }
}
span.show-con-terms {
    padding-left: 8px;
}
.digisign {
    img {
    border: 1px solid #b1b1b1;
    padding: 10px;
    }
}

.cont-approv{
    padding: 0 !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
	.approv-details {
		.ap-com {
			width: 58%;
			padding: 5px;
			input {
				white-space: nowrap;
				max-width: 150px;
				overflow: hidden;
				-o-text-overflow: ellipsis;
				text-overflow: ellipsis;
			}
			.namelist {
				margin: 0;
			}
		}
		.ap-name {
			border-right: 1px solid #ccc;
			width: 40%;
			padding: 5px;
		}
		.he-d{
			// padding: 13px 0; may be reflect to another page
			padding: 5px 0;
		}
	}
	.mn-aph{
		height: auto;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
	}
	.heghtt{
		// height: 40px; may be reflect to another page
		height: auto;
    }
}

.custom-table {
    tbody tr {
        td.cont-approv{
            padding: 0px !important;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }
    }
    
}

.grph-hover {
    background-color: #ffffff;
    border: 1px solid #c1c1c1;
    width: 500px;
    height: 250px;
    position: absolute;
    right: 0 !important;
    z-index: 9999;
    padding: 10px;
    top: 30px !important;
}

.span-blk{
    span{
        display:block;
    }
}

.rm-ap.cont-approv {
	.heghtt {
		height: 51px;
	}
	.he-d {
		padding: 19px 0;
	}
}

.pac-txt {
    color: #9fa4a6 !important;
    font-size: 10px;
}
.heihtmin{
    min-height: 60px;
    line-height: 40px;
}

.padzeo {
    button {
    padding: 0 0px 0 12px;
    }
    span.tooltiptext-lft {
        right: 80%;
    }
}