.slider-thumb {
  margin-bottom: 25px;
  .slick-slide {
    width: 75px !important;
    border: 1px solid;
    border-color: #ddd;
    overflow: hidden;
    height: 95px;
    border-radius: 8px;
    margin-right: 5px;
    padding: 10px;
    padding-bottom: 2px;

    &.slick-current {
      border-color: $primary-color;
      box-shadow: 0 0 3px $primary-color;
    }
    img {
      max-width: 100%;
      height: 65px;
      object-fit: cover;
      display: block;
      margin: 0 auto;
    }
    .img-thumb-title {
      font-size: 10px;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
      display: inherit;
    }
  }
}
.slider-modal {
  .modal-dialog {
    width: 540px;
  }
  .modal-content {
    border-radius: 0;
  }
  .btn {
    font-size: 12px;
    font-weight: 700;
  }
  .modal-body {
    padding: 15px 30px;
  }
}

.slider-full {
  .slick-slide {
    img {
      max-width: 100%;
      margin: 0 auto;
      max-height: 350px;
      height: auto;
      object-fit: contain;
    }
    > div > div {
      display: flex !important;
      align-items: center !important;
      justify-content: center;
      height: 350px;
      margin-bottom: 20px;
    }
  }
}

.slick-next,
.slick-prev {
  color: #000;
  background-color: #000;
  &:hover,
  &:active,
  &:focus {
    color: #000;
    background-color: #000;
  }
}

.verticel-slider {
  width: 160px;
  margin-top: 21px;
  .slick-slider {
    display: flex;
  }
  .slick-dots {
    display: none !important;
  }
  .slick-next,
  .slick-prev {
    position: absolute;
    top: -25px;
  }

  .slick-prev {
    left: 20px;
  }
  .slick-next {
    right: 20px;
  }
  .user {
    // border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 0 20px;
    span {
      font-size: 11px;
      line-height: 14px;
      display: inline-block;
      margin-bottom: 5px;
    }
    p {
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 5px;
    }
  }
  .form-group {
    padding: 0 25px;
    padding-bottom: 20px;
    margin-bottom: 17px;
    &:last-child {
      padding-bottom: 0;
    }
  }
  td {
    position: relative;
  }
}
.approverWrapper {
  position: relative;
}

.l-column {
  margin-top: 68px;
  .col-ttl {
    &:after {
      content: "";
      position: absolute;
      border-bottom: 1px solid #ddd;
      width: 100%;
      left: 0;
      margin-top: 37px;
    }

    &:first-child {
      height: 76px;
      border-top: 1px solid #ddd;
    }
    &:last-child {
      &:after {
        border-bottom: 0;
      }
    }

    height: 70px;
    justify-content: center;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 8px;
  }
}
.last-col {
  margin-left: auto;
  padding: 15px;
  width: 105px;
  .btn {
    white-space: pre-wrap;
    padding: 5px;
    font-size: 10px;
    width: 85px;
  }
}
.addNewGroup {
  padding: 0 100px;
  margin-top: 25px;
  .b-span {
    width: 160px;
    padding: 0 24px;
    text-align: center;
    .btn {
      word-break: break-word;
      white-space: pre-wrap;
      font-size: 11px;

      padding: 5px;
    }
  }
}
.sliderDash {
  h3 {
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
  }
  .slick-dots {
    li {
      display: none !important;
    }
  }
}
.slick-next {
  z-index: 9;
}
.limitSlider {
  margin-top: 21px;
}

/*******magnify*********/

.perimeter {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.image {
  flex: 0 0 100%;
}

.copy {
  padding: 20px;
  font-family: sans-serif;
}

@media (min-width: 415px) {
  .perimeter {
    flex-direction: row;
  }

  .image {
    flex: 0 0 50%;
  }
}

@media (min-width: 800px) {
  .image {
    flex: 0 0 33.5%;
  }
}
.release-preview-part {
  position: relative;
  .pr-view {
    position: absolute;
    left: 5px;
    top: 10px;
    z-index: 1;
    .ico-action {
      width: 25px;
      height: 25px;
      padding-top: 0;
    }
  }
  .slider-full {
    flex: 0 0 80%;
    max-width: 80%;
    .slick-slide {
      img {
        max-height: 250px;
      }
    }
  }
  .slider-thumb {
    flex: 0 0 20%;
    max-width: 20%;
    .slick-slide {
      width: 60px !important;
      height: 60px;
      margin-bottom: 5px;
      img {
        height: 40px;
      }
    }
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

.slick-prev:before {
  font-size: 15px !important;
  line-height: 1;
  opacity: 1 !important;
  color: #444 !important;
  content: "\e257" !important;
  font-family: Glyphicons Halflings !important;
  font-weight: bold;
}
.slick-next:before {
  font-size: 15px !important;
  line-height: 1;
  opacity: 1 !important;
  color: #444 !important;
  content: "\e258" !important;
  font-family: Glyphicons Halflings !important;
  font-weight: bold;
}
.slick-next,
.slick-prev {
  background-color: #fff !important;
}
.ico-minusgly:before {
  content: "\2212";
  font-family: "Glyphicons Halflings";
  color: #444 !important;
  border: 1px solid #111;
  border-radius: 50%;
  font-size: 7px;
  padding-top: 1px;
  width: 14px;
  height: 14px;
  display: inline-block;
  text-align: center;
  margin-bottom: 3px;
}

.review-slider {
  width: 730px;
  margin: 0 auto;
  .slick-dots {
    display: none !important;
  }
}
.review-slider.main-slid {
  .slid-ht img {
    margin: auto;
  }
}

.img-annno , .revFullwrap{
  img {
  // height: 280px;
  width: 100%;
  }
}

.img-annno {
  img {
    margin-bottom: 15px;
    object-fit: contain;
  }
}

.anot-modl-width{
  .modal-dialog{
    width: 800px !important;
  }
  .modal-body{
    height: 82vh;
    overflow-y: auto;
  }
}

.anot-modl-width-img{
  .modal-dialog{
    width: 800px !important;
  }
  .modal-body{
    height: 82vh;
  }
}

.anot-modl-width-ext{
  .modal-dialog{
    width: 1000px !important;
  }
}
.anot-btnn{
  button {
    font-size: 13px !important;
  }
}
.tagIcon.fildTag{
  color: #f00 !important;
}
.ano-rplyy {
  .ico-post {
    width: 22px;
    height: 22px;
  }
}
.ano-rpl-rotate {
  span {
    // width: 7px;
    // height: 7px;
  }
}
.sz-25{
  width: 25px !important;
  height: 25px !important;
}





// new slider 

.image-gallery-swipe img {
  // width: 300px !important;
  height: 300px !important;
  margin: auto;
}

.pdfanno {
  img {
    height: 300px;
  }
}

.file-slider {
  .slid-ht{
    margin-bottom: 15px;
    iframe {
      // max-height: 250px !important;
      height: 565px !important;
      top: 20px;
    }
}
}

.main-slid{
  .slid-ht{
    margin-bottom: 15px;
    iframe {
      // max-height: 250px !important;
      height: 250px;
    }
    img {
      object-fit: contain ;
      // max-height: 250px;
      height: 250px;
    }
  }
  
  .nw-sldr1{
    // margin-bottom: 50px;
    margin-bottom: 10px;
    .slick-slide {
      .new-t-slid{
        width: 100px !important;
        border: 1px solid;
        border-color: #ddd;
        overflow: hidden;
        height: 95px;
        border-radius: 8px;
        margin-right: 10px;
        padding: 10px;
        padding-bottom: 2px;
        text-align: center;
        cursor: pointer;
        // margin: 0 auto;
        img {
          max-width: 100%;
          height: 65px;
          object-fit: cover;
          display: block;
          margin: 0 auto;
        }
        .img-thumb-title {
          font-size: 10px;
          white-space: nowrap;
          overflow: hidden;
          max-width: 100%;
          text-overflow: ellipsis;
          display: inherit;
        }
      }
    }
    .slick-slide.slick-current {
      .new-t-slid{
        border-color: $primary-color;
        box-shadow: 0 0 3px $primary-color;
      }
    }
  }
}

.main-slid.slid-up {
  .slick-slide {
    img {
      margin: auto !important;
      width: 100%;
    }
  }
}

.main-slid.reviw-slid {
  .nw-sldr1 .slick-slide{
    .new-t-slid {
      width: 85px !important;
    }
  }  
  .slid-ht{
    .slick-slide {
      iframe {
        margin: auto !important;
        width: 100%;
        max-height: 200px !important;
        height: 200px !important;
      }
      img {
        margin: auto !important;
        width: 100%;
        max-height: 200px !important;
        height: 200px !important;
      }
    }
  }  
} 

// .main-slid .slid-ht .slick-slide:first-child {
//   opacity: 1 !important;
//   visibility: visible !important;
// }


.custmarwslidr1 {
  .slick-prev {
    left: 75px;
  }
  .slick-next {
    right: 75px;
  }
  .slick-prev, .slick-next{
    top: 12%;
  }
}
.custmarwslidr2 {
  .slick-prev {
    left: 75px;
  }
  .slick-next {
    right: 75px;
  }
  .slick-prev, .slick-next{
    top: 38%;
  }
}

.TransformComponent-module_content__TZU5O {
  img {
    // width: 600px !important;
    height: 550px !important;
    cursor: grab;
    pointer-events: auto !important;
    width: 1000px !important;
  }
}


.TransformComponent-module_container__3NwNd {
    top: 20px;
    left: 7%;
    // background-color: #cdcdcd2e;
}

.img-pos {
  .tools {
    background-color: rgba(51, 51, 51, 0.9);
    width: 148px;
    height: 40px;
    padding: 12px 20px;
    margin-top: 50px;
    position: relative;
    left: 45%;
    // .vertical {
    //   border-right: 1px solid #ffffff;
    //   padding-left: 10px;
    // }
    .icon-grp-img{
      width: 50px;
      position: relative;
      bottom: 18px;
      left: 55px;
    }
    .icon-pos {
      position: absolute;
      left: 25px;
      top: 1px;
    }
    .height-img {
      height: 15px !important;
    }
    
    .height-img-18 {
      height: 18px !important;
    }
  }
}

