.register-container {
    width: 95%;
    margin: 0 auto;
    .lbl-color {
        color: #4f4f4f;
    }
    .panel {
        border-radius: 0;
        margin-bottom: 0;
        box-shadow: none;
        border-bottom: 0;
        border-top: 0;
        border-color: #f2f2f2;
    }
    .panel-heading {
        background: #ffffff;
        font-size: 14px;
        color: #4f4f4f;
        border-radius: 0;
        border-color: #f2f2f2;
        &:hover{
            background: #f2f2f2;
        }
    }
    .panel-collapse {
        border-bottom: 0.5px solid #bdbdbd;
        &:hover{
            background: #f2f2f2;
        }
        .panel-title {
            font-size: 14px;
            color: #4f4f4f;
        }
        .align-cntr-vert{
            margin: -5px auto;
        }
    }
    
    .align-icon {
        float: right;
        margin-right: 15px;
        color: #007bffd1;
        font-size: 14px;
        padding-top: 5px;
        font-weight: 600;
    }
    .form-group {
        width: 55%;
        display: inline-block;
        margin-bottom: 0;
        margin-left: 15px;
        .form-control {
            color: #4f4f4f;
            border-radius: 3px;
        }
    }
}


.header-sect {
    background-color:rgb(242, 242, 242);
    height: 40px;
    font-size: 14px;
    color: #4f4f4f;
    border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.register-container {
    .panel-collapse.level1,
    .panel-collapse.level2 {
        border-color: #f2f2f2;
        .col-md-3 {
            margin-left: -5px;
        }
    }
    .sublevl {
        border: 0;
    }
}
