.custom-table {
  thead {
    tr {
      border-bottom: 1px solid #bfc9cd;
      th {
        font-weight: normal;
        text-align: center;
        border: 0;
        padding-top: 12px;
        padding-bottom: 12px;
        font-weight: bold;
        vertical-align: middle;
        color: $black;
        // text-transform: uppercase;
        font-size: 12px;
        min-width: 120px;
        background: #f5f5f5;
      }
    }
  }

  tbody {
    tr {
      border-top: 1px solid #bfc9cd;
      border-bottom: 1px solid #bfc9cd;

      // &:nth-child(even) {
      //   height: 10px;
      // }
      td {
        border: 0;
        text-align: center;
        min-width: 100px;
        padding-top: 8px;
        padding-bottom: 8px;
        vertical-align: middle;
        font-size: 12px;
        color: #41535b;
        word-break: break-word;
        // position: relative;
        &:first-child {
          position: relative;
        }
        .form-group {
          margin-bottom: 0;
        }
        .form-control {
          font-size: 12px;
          border: 1px solid #bfc9cd;
          color: #41535b;
          line-height: 15px;
        }

        .has-feedback .form-control {
          padding-right: 14px;
          padding-left: 2px;
        }

        a {
          text-decoration: none;
        }

        textarea {
          resize: none;
          border-radius: 0;
        }
      }
    }
  }

}
.parent-ele .sec-drawer .custom-table tbody tr td {min-width: 125px;}

.fixtableWrap{
  thead {
    tr {
      border-bottom: 1px solid #bfc9cd;

      th {
        font-weight: normal;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        font-weight: bold;
        vertical-align: middle;
        color: #41535b;
        text-transform: uppercase;
        font-size: 10px;
        border: 0;
        padding: 8px 5px;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #ddd;
      // &:nth-child(even) {
      //   height: 10px;
      // }
      td {
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
        vertical-align: middle;
        font-size: 12px;
        color: #41535b;
        word-break: break-word;
        border-bottom: 0px !important;
        border-top: 0px !important;
        border-left: 0;
        border-right: 1px solid #ddd !important;
        padding-right:5px;
        padding-left:5px;
        // position: relative;
        &:first-child {
          position: relative;
        }
        .form-group {
          margin-bottom: 0;
        }
        .form-control {
          font-size: 12px;
          border: 1px solid #bfc9cd;
          color: #41535b;
          line-height: 15px;
        }

        .has-feedback .form-control {
          padding-right: 2px;
          padding-left: 2px;
        }

        a {
          text-decoration: none;
        }

        textarea {
          resize: none;
          border-radius: 0;
        }
      }
    }
  } 
}




.two-row {
  padding: 0;

  tr {
    border-bottom: 0 !important;

    td,
    th {
      padding: 5px 0px !important;
      width: auto;
    }
  }
}



.tax-info-wrap {

  // margin-left: auto;
// .tbw {
//     width: 45%;
//   }
  //   tr {
  //     td {
  //       border-top: 0;
  //       text-align: center !important;
  //       word-break: break-word;
  //       &:nth-child(1) {
  //         min-width: 60px;
  //         font-size: 12px;
  //         vertical-align: middle;
  //         padding-top: 2px;
  //       }
   
  //     }
  //     th {
  //       font-size: 12px;
  //       font-weight: normal;
  //       border-bottom: 0;
  //       padding-bottom: 0;
  //       text-align: center;
  //     }
  //   }

}

.print-table  {
  th,td{
    border: 1px solid #ccc !important;
    border-left:none !important;
    border-right: none !important;
  }
 
}
// td.b-p-warpper.revisionBudget.budinput.printdateset {
//   // width: 150px;
//   .td-item {
//     max-width: 50px;
//     text-align: left;
//     margin: auto;
//     .sm-trip {max-width: 50px;}
//   }
// }
// th.printw-150 {min-width: 150px !important;}
// td.b-p-warpper.revisionBudget.budinput.printdateset .td-item {
//   display: flex;
//     flex-direction: column;
//     /* width: 60px; */
//     max-width: 40px;
//     align-items: center;
//     justify-content: center;
//     margin: auto;
// }
@media print {

.printw-150 {
  min-width:150px;
  width:150px;
}
.plprint-10 {padding-left: 10px;}
.prprint-20 {padding-right: 20px;}

.hero-title {
  margin-top:40px;
}
  .print-table {
    table-layout: fixed;
    border: solid rgba(221, 221, 219, 0.5) !important;
    border-width: 1px !important;
    border-collapse: separate !important;
    color:#111 !important;
    margin:20px 0px;padding:5px 10px;
    th,
    td {
      word-break: break-word;
      white-space: pre-line;
      border: solid rgba(221, 221, 219, 0.5) !important;
      // border-width: 0 1px 1px 0 !important;    ---comment code facing border issue
     font-size:12px;
      border-width: 1px !important; // Added code
      font-weight:400;
      color:#111 !important;
    }
  }
  .prnt-head {
    margin-top: 30px;
  }
}

.flex-table {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  border-left: 1px solid #ddd;

  .flex-head {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-row {
    display: flex;
    flex-wrap: nowrap;

    &:not(:first-child) {
      .td-item {
        border-top: 1px solid #ddd;
      }
    }
  }

  .th-item,
  .td-item {
    flex: 0 0 51px;
    text-align: center;
    padding: 8px;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;

    &:first-child {
      font-size: 12px;
      font-weight: 500;
      min-width: 100px;
    }
  }

  .td-item {
    &:nth-child(7n + 8) {
      background-image: url(../img/lining.png);
    }
  }

  .date {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 12px;
  }

  .day {
    font-size: 11px;
  }

  .today {
    color: $blue-primary
  }

  .flex-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // border-top: 1px solid #ddd;
  }
}

.revision-area {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 10px;
  .user-add {
    color: $primary-color;

    svg {
      fill: $primary-color;
    }
  }

  .top-col {
    flex: 0 0 12.5%;
    max-width: 12.5%;
    padding: 15px 10px;
    text-align: center;
  }
}

.r-drop-panel {
  .panel-heading {
    padding: 0;
    background-image: none;
    background-color: transparent;
    border-color: transparent;
    flex: 0 0 11.5%;
    max-width: 11.5%;
    text-align: center;
    padding: 5px 0;

    .panel-title {
      a {
        font-size: $xSmall;
        text-decoration: none;
        margin-left: 3px;

        &:not(.collapsed) {
          .glyphicon {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }

  .panel-default {
    display: flex;
    border-radius: 0;
    margin-bottom: 0;
  }

  .panel-collapse {
    flex: 1;

    .panel-body {
      padding: 0;
    }
  }

  .r-breif {
    flex: 0 0 14.3%;
    max-width: 14.3%;

    h5 {
      margin-top: 5px;
    }

    p {
      font-size: $xSmall;
      color: $text-color;
      font-weight: $smbold;
      margin-bottom: 0px;
    }

    span {
      font-size: $xxSmall;
      color: $text-color;
    }
  }
}

.v-align-top {
  tr {
    td {
      vertical-align: top !important;
    }
  }
}
.v-align-middle {
  tr {
    td {
      vertical-align: middle !important;
    }
  }
}
.v-a-top {
  vertical-align: top !important;
}
.v-a-middle.v-a-middle {
  vertical-align: middle !important;
}
.fx-table {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.4rem;
  margin: 0.5rem;
  line-height: 1.5;
  border-bottom: 1px solid #d0d0d0;
  flex: 1 1 auto;

  .fx-tr {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }

  .fx-td {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5em;
    word-break: break-word;
    min-width: 0px;
    border-bottom: 1px solid #d0d0d0;
  }
}
.e-p-table {
  tr {
    th,
    td {
      max-width: 100px;
    }
  }
}
.Toastify__toast--warning {
  background-color: #ff8300 !important;
}
.for-table {
  .infinite-scroll-component {
    max-height: 365px;
    margin-bottom: 40px;
  }
}
.for-table-s {
  .infinite-scroll-component {
    min-height: 328px;
  }
}
.f-table {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  .f-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #ccc;
    .th-f {
      flex: 1;
      font-weight: bold;
      font-size: 10px;
      text-transform: uppercase;
      text-align: center;
      padding: 5px;
      color: #41535b;
    }
  }

  .f-tbody {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
    .td-f {
      flex: 1;
      padding: 5px;
    }
  }
}

.geo-tree {
  padding-left: 0;

  list-style-type: none;
  li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
    &::before {
      content: "";
      position: absolute;
      left: -63px;
      top: 6px;
      display: block;
      border-left: 2px solid #555;
      height: 1em;
      border-bottom: 2px solid #555;
      width: 70px;
    }
    &:after {
      content: "";
      position: absolute;
      left: -63px;
      bottom: 20px;
      display: block;
      border-left: 2px solid #555;
      height: 100%;
    }
    .label--radio {
      margin: 0 0.5rem 0 0;
    }
  }

  &.for-region {
    margin: 60px 0 0 0;
    li {
      &::before {
        left: -70px !important;
      }
      &::after {
        width: 88px !important;
      }
    }
  }
  &.for-country {
    margin: 60px 0 0 0;
    overflow: hidden;
    li {
      &:before {
        left: 0px;
        top: 3px;
        width: 17px;
      }
      &::after {
        left: 0px;
        bottom: 18px;
      }
    }
  }
  &.for-zone {
    margin: 95px 0 0 0;
    overflow: hidden;
    li {
      &:before {
        left: 0px;
        top: 3px;
        width: 17px;
      }
      &::after {
        left: 0px;
        bottom: 18px;
      }
    }
  }

  &.for-b-unit {
    margin: 95px 0 0 0;
    overflow: hidden;
    li {
      &:before {
        left: 0px;
        top: 3px;
        width: 17px;
      }
      &::after {
        left: 0px;
        bottom: 18px;
      }
      &:last-child {
        &::before {
          top: 14px;
        }
      }
    }
  }
  &.for-distric {
    margin: 95px 0 0 0;
    overflow: hidden;
    li {
      &:before {
        left: 0px;
        top: 3px;
        width: 17px;
      }
      &::after {
        left: 0px;
        bottom: 18px;
      }
    }
  }
  &.for-circle {
    margin: 130px 0 0 0;
    overflow: hidden;
    li {
      &:before {
        left: 0px;
        top: 3px;
        width: 17px;
      }
      &::after {
        left: 0px;
        bottom: 18px;
      }
    }
  }

  &.for-area {
    margin: 130px 0 0 0;
    overflow: hidden;
    li {
      &:before {
        left: 0px;
        top: 3px;
        width: 17px;
      }
      &::after {
        left: 0px;
        bottom: 18px;
      }
    }
  }
  .form-control {
    font-size: 12px;
    height: 30px;
    padding: 5px;
  }
}

.tbheaderFix {
  overflow-y: auto;
  max-height: 450px;

  thead th {
    position: sticky;
    top: -5px;
    background: #efefef;
    z-index: 7;
    &:first-child {
      left: -3px;
      z-index: 9;
    }
  }

  tbody {
    tr {
      td {
        &:first-child {
          position: sticky !important;
          left: -3px;
          background: #efefef;
          border-right: 1px solid #ccc;
          z-index: 8;
        }
      }
    }
  }
}

.fixHead--table {
  tr {
    display: flex;
    flex-wrap: nowrap;
  }
  th,
  td {
    flex: 1;
    > table {
      min-width: 279px;
      tr {
        border: 0;

        &:first-child {
          th {
            border-bottom: 1px solid #ddd;
          }
        }
        &:last-child {
          th {
            min-height: 44px;
          }
        }
        // th {
        //    width: 74.5px !important;
        // }
      }
    }
  }
  thead {
    padding-right: 15px;
    display: block;
    width: 100%;
  }
  tbody {
    display: block;
    width: 100%;
    max-height: 300px;
    overflow: auto;
  }
}


.breakworktdth {
  td, 
  th{
    word-break: break-word;
  }
}

.boxinn, .boxinn tr  {
  height: 100%;
  td{
    height:100%;
    border-right:1px solid #ccc;
    // width: 74.2px;
    
  }
}


.boxinn tr {
  display:table-row;
}
.boxinn td {
  display:table-cell;
  vertical-align: top !important;
}




.termsblockPrint {
  table {
    td{
      &:first-child {
        padding-right: 5px;
        font-weight: 500;
      }
    }
  }
}


.text-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.tble-hdfix{
  thead {
    tr{
      th{
       position: inherit !important;
      } 
    }
  }
  tbody {
    tr {
      td {
      position: inherit !important;
      }
    }
  }   
}

.tbl-bor{
  thead{
    th{
      border-top:1px solid #ddd !important;
    }
  }
}


// table header dixed css
.table-fixed-colrow {
  // position: relative;
  // z-index: 1;
  width:100%;
  margin: auto;
  overflow-y:auto;
  overflow-x:auto;
  max-height: 80vh;
  table {
    border-collapse: separate;
    border-spacing: 0;
    thead th {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 10;
      border-bottom: 1px solid #ccc !important;
      border-top: 1px solid #ccc !important;
      border-right: 0 !important;
    }
    thead tr:nth-child(2) th {
      top: 40px;
      border-top: 0 !important;
    }
    tr td:last-child, tr th:last-child {
      border-right: 1px solid #ccc !important;
    }
    tr:first-child td {
      border-top: 0 !important;
    }
    tr:last-child td {
      border-bottom: 1px solid #ccc !important;
    }
    td {
      border-bottom: 0 !important;
      border-right: 0 !important;
    }
  }
}



.tableFixHead{
  //  max-height:450px;
    max-height: 80vh;
    overflow-x:auto;
    overflow-y:auto;
    thead  {
      tr{
        th {
          position: sticky;
          top: -5px;
          background: #f5f5f5;
         z-index: 2;
        }
      }
  
    }
  }

  .table-height-set{
      max-height: 73vh;
      overflow-x:auto;
      overflow-y:auto;
      thead  {
        tr{
          th {
            position: sticky;
            top: -5px;
            background: #f5f5f5;
            z-index: 2;
          }
        }
      }
    }