.track-tag {
    .chart-dropdown {
        position: relative;
        top: 150px;
        right: 175px;
        .filter-label {
            color: #41535b;
        }
        .custom-btn {
            width: 20px;
            height: 20px;
            padding: 2px 20px 0px 8px;
            font-size: 10px;
            margin-left: 10px;
        }
        .bold-unchecked {
            .btn-group {                
                .btn-default {
                    font-weight: normal;
                }
            }
        }
        .bold-checked {
            .btn-group {                
                .btn-default {
                    font-weight: 600;
                    color: #41535b;
                }
            }
        }
    }

    .chart-list {
        position: relative;  
    }
    .chart-view {
        width: 60%;
        position: absolute;
        left: 415px;
        top: -215px;
    }
    .drop-downs {
        padding-left: 230px;
    }

    .check-none .dropdown-menu li label input.checkbox {
        margin: 0;
        display: inherit;
    }

    .check-none .dropdown-menu li label .mark {
        display: inherit;
    }

    .deselect {
        color: #A9A9A9;
        font-size: 20px;
    }

    .p-t-7 {
        padding-top: 15px;
    }

    .axes-select {
        position: relative;
        top: 60px;
        .axes-label {
            position: absolute;
            right: 410px;
            top: -25px;
        }
        .axes-dropdown {
            position: absolute;
            right: 400px;
            width: 200px;
        }
    }

    .prev-link {
        cursor: pointer;
        text-decoration: none;
    }

    .next-link {
        cursor: pointer;
        padding-left: 25px;
        text-decoration: none;
    }

    .clear {
        font-size: 10px;
        cursor: pointer;
        color: #41535b;
    }

    .icon-graph-filled1 {
        cursor: pointer;
        font-size: 20px;
    }

    .icon-list {
        cursor: pointer;
        font-size: 20px;
    }   

    .icon-refresh_1 {
        cursor: pointer;
        font-size: 20px;
    }

    .disable-prev {
        pointer-events: none;
        user-select: none;
        color: #337ab78c;
        text-decoration: none;
    }

    .disable-next {
        pointer-events: none;
        user-select: none;
        padding-left: 25px;
        color: #337ab78c;
        text-decoration: none;
    }
    
    
}

// .tooltip {
//     .tooltip-inner {
//         color: #41535b;
//         background-color: white;
//         box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
//         // width: 150px;
//         max-width: 300px;
//         max-height: 200px;
//         overflow-y: auto;
//     }

//     .tooltip-arrow {
//         display: none;
//     }
// }