.mj-nav {
  height: 57px;
  .navbar-inverse {
    background-color: #fff;
    border-color: #fff;
    border-radius: 0;
    background-image: none;
    -webkit-box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
  }
  .navbar-brand {
    padding: 5px 0 0 0;
    margin-left: 10px !important;
    img {
      height: 40px;
    }
  }
}

#user-dd {
  display: flex;
  align-items: center;
  padding-bottom: 0px;
  padding-top: 10px;
  .dropdown-toggle {
    text-decoration: none;
    .caret {
      display: none;
    }
    .avtar {
      height: 30px;
      width: 30px;
      overflow: hidden;
      border-radius: 50%;
      display: inline-block;
      img {
        height: 30px;
      }
    }
  }

  .userName {
    max-width: 85px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    padding-right: 8px;
    color: #000;
  }
  .dropdown-menu {
    border-radius: 0;
    right: -15px;
    min-width: 200px;
    padding: 0;
    animation: slideDrop 0.6s ease;
    -webkit-box-shadow: -1px 7px 36px 1px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: -1px 7px 36px 1px rgba(0, 0, 0, 0.64);
    box-shadow: -1px 7px 36px 1px rgba(0, 0, 0, 0.64);

    &:before {
      content: "";
      width: 15px;
      height: 15px;
      background-color: white;
      position: absolute;
      top: -8px;
      right: 20px;
      // box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.175);
      transform: rotate(-135deg);
      z-index: -1;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      border-right: 1px solid rgba(0, 0, 0, 0.15);
    }
    li {
      border-bottom: 1px solid #ddd;
      &:last-child {
        border-bottom: 0;
      }
      a {
        padding: 5px 15px;
        color: #333;
      }
    }
  }
}
.cus-dd {
  .dropdown-menu {
    border-radius: 0;
    right: -15px;
    min-width: 200px;
    top: 35px;
    animation: slideDrop 0.6s ease;
    -webkit-box-shadow: -1px 7px 36px 1px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: -1px 7px 36px 1px rgba(0, 0, 0, 0.64);
    box-shadow: -1px 7px 36px 1px rgba(0, 0, 0, 0.64);
    &:before {
      content: "";
      width: 15px;
      height: 15px;
      background-color: white;
      position: absolute;
      top: -8px;
      right: 20px;
      // box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.175);
      transform: rotate(-135deg);
      z-index: -1;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      border-right: 1px solid rgba(0, 0, 0, 0.15);
    }
    li {
      border-bottom: 1px solid #ddd;
      &:last-child {
        border-bottom: 0;
      }
      a {
        padding: 5px 15px;
      }
    }
  }
  .caret {
    display: none;
  }
}
.nav .open > a {
  background-color: transparent !important;
}

@keyframes slideDrop {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.d-arrow {
  position: absolute;
  right: -22px;
  top: 10px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(-45deg);
}

// .notification-bar {
//   background-color: #41535b;
//   padding: 12px 50px;
//   flex-wrap: wrap;
//   .n-sec {
//     max-width: 16.66%;
//     flex-basis: 16.66%;
//     color: #fff;
//     font-weight: 700;
//     font-size: 12px;
//   }
// }

// .n-counts {
//   display: inline;
//   padding: 0;

//   li {
//     display: inline-block;
//     list-style-type: none;
//     width: 22px;
//     height: 22px;
//     border-radius: 50%;
//     padding-top: 3px;
//     margin: 0 2px;
//     text-align: center;
//     color: #fff;
//     &.bg-g {
//       background-color: #4cb578;
//     }
//     &.bg-o {
//       background-color: #eab016;
//     }
//     &.bg-r {
//       background-color: #ed4b40;
//     }
//   }
// }
.a-u-wrap {
  a {
    padding-bottom: 0 !important;
    padding-top: 11px !important;
    padding: left 0px !important;
    padding-right:0px !important;
    .add-user {
      display: inline-flex;
      width: 35px;
      height: 35px;
      // background: #dff6fe;
      padding: 5px 0px 5px 6px;
      border-radius: 50%;
      align-items: center;
      svg {
        // fill: #2face6;
      }
    }
  }
}

.noti-dd {
  .dropdown-toggle {
    text-decoration: none;
    .caret {
      display: none;
    }
  }

  .dropdown-menu {
    width: 350px;
    animation: slideDrop 0.6s ease;
    padding-top: 0;
    padding-bottom: 0;
    &:before {
      content: "";
      width: 15px;
      height: 15px;
      background-color: white;
      position: absolute;
      top: -8px;
      right: 20px;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
      z-index: -1;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      border-right: 1px solid rgba(0, 0, 0, 0.15);
    }
    .notification-list {
      max-height: 300px;
      overflow: auto;
      min-height: 200px;

      li {
        &:first-child {
          padding: 12px 10px;
          border-bottom: 2px solid #ddd;
          background: #fff;
          position: sticky;
          top: 0;

          .nt-h {
            font-weight: $smbold;
            font-size: $mdSmall;
          }
          .clr-btn {
            // color: #7855f9;
            color: $primary-color;
            font-size: $xSmall;
          }
        }

        a {
          padding: 3px 10px;
          padding-right: 0;
          display: block;
          text-decoration: none;
          color: #333;
        }
      }
    }
  }
  .noti-foot {
    border-top: 1px solid #ddd;
    padding: 12px 10px;
    .load-more {
      color: #fff;
      background-color: #ebb111;
      padding: 1px 6px;
      border-radius: 4px;
      font-size: 12px;
    }
  }
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a {
  background-image: none;
  box-shadow: none;
}

.notification-wrapper {
  padding: 8px 0;
  .nt-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    img {
      object-fit: cover;
      height: 40px;
    }
  }
  .user-info {
    margin-left: 10px;
    h5 {
      color: $primary-color;
      text-transform: capitalize;
    }
  }
  .nt-message {
    // word-break: break-word;
    // white-space: initial;
    font-size: $xSmall;font-weight: $semibold;
    margin: 0px 0 0;
    color: $text-color;
    line-height: 1.2;
  }
}

.noti-dot {
  display: inline;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  right: 4px;
  top: 5px;
  background-color: #ccc;
  font-size: 10px;
  text-align: center;
  color: #fff;
  padding-top: 1px;
  &.active {
    background-color: $primary-color;
    animation: zoominoutsinglefeatured 1s;
  }
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(0.7, 0.7);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
