// $primary-color: #ebb112;
$primary-color: #007BFF;
$color-light: #999;
$dark-green: #61615d;
// $light-green: #4cb050;
$light-green: #27AE60;
$concrete: #f2f2f2;
$white: #ffffff;
$darkblue:#4169e1;
$lightblue: #2face6;
$bluebtn:#5bc0de;
$dangerous:#d92027;
$border: #c0c0c0;
$disable: #f5f5ed;
$scrollbar: #C4C8CC;

$lightwhite: #ddd;
$darkwhite: #ccc;
$lightgreen: #27ae605e;
$green: #79D70F;
$shadegreen: #59b8d669;
$gallery: #ebebeb;
$dustygray: #9c9696;
$darkgray: #d0caca66;
$mineshaft: #d0caca66;
$boulder: #777777;
$silver: #c5c5c5;
$foam: #f1f9fe;
$aquaHaze: #f2f6f7;
$red: red;

// blue theme 

$blue-primary:#007BFF;
$blue-sec:#BBE1FA;
$text-color:#525252;
$hint-color:#727272;
$black:#000;
$modalbg:#f9f9f9;
$PattensBlue:#f2f5fa;
$lightBlack:#E0E0E0;
$AliceBlue:#e0efff;
$Nero:#212121;
$borderColor:#f0f0f0;
$borderColorDark:#BDBDBD;
$primary-hover:#3194FF;
$primary-dactive:#BFDEFF;
$outline-hover:#F1F9FE;
$alert:#FFBE2E;
$alert-warning:#FFD800;
$lightGray:#BFBFBF;
$mediumGray:#828282;


//Position
$absolute: absolute;
$relative: relative;
$fixed: fixed;
$sticky: sticky;


//Font-Size
$xxxSmall: 9px;
$xxSmall: 10px;
$xxSmall1: 11px;
$xSmall:12px;
$small: 14px;
$mdSmall: 14px;
$xbody: 15px;
$body: 16px;
$regular: 18px;
$lsmall: 20px;
$xmedium:21px;
$medium:22px;
$large:26px;
$mdlarge:28px;
$mLarge: 30px;  
$xsLarge: 35px;  
$xLarge: 36px;  
$xxLarge: 40px;

.flex{display: flex;}

//Font weight
$semibold:400;
$smbold:500;
$bold:bold;